<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
	{{#unless app}}
	<title>Health Insurance – Find Best Medical Insurance Plans in India | Zipcover</title>
	<meta name="description" content="Find best provides best health insurance plans in India. With over 200 products to choose from Zipcover provides medical policy for individual and family.">
	<link rel="canonical" href="https://www.zipcover.in/" />
	{{/unless}}
	{{#if contact}}
	<title>Contact Us for Health Insurance | Zipcover</title>
	<meta name="description" content="Get in touch with us for your health insurance policy plans query. Call us at 91-7840040042 or email at help@zipcover.in.">
	<link rel="canonical" href="https://www.zipcover.in/contact" />
	{{/if}}
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
				new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NM6V7R5');
	</script>
	<!-- End Google Tag Manager -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "Suite 501, Success Tower, Sector 65 Golf Course Extension Road",
				"addressLocality": "Gurgaon",
				"addressRegion": "Haryana",
				"postalCode": "122002"
			},
			"name": "Zipcover",
			"telephone": "91-7840040042",
			"email": "help@zipcover.in",
			"url": "https://www.zipcover.in/",
			"image": " https://www.zipcover.in/assets/logo.98a9eec982758a316aa747cefd3759a9.png",  
			"priceRange": "$$"      
		}
	</script>
	{{#unless app}}
	{{#if styles}}
	{{!-- <style>Styles for first load to be inlined</style> --}}
	{{/if}}
	{{/unless}}
	{{#if app}}
	{{#if styles}}
	<link rel="stylesheet" href="/assets/{{ styles }}.css" media="screen"> 
	{{/if}}
	{{/if}}
	<style type="text/css">
	#site_page_loader{
		background-color: #f5f5f5;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	.innerLoader {
	  width: 70px;
	  display: block;
	  height: 70px;
	  border: 20px solid #00ffc8;
	  border-left-color: #262F96;
	  border-radius: 50%;
	  animation: load8 1.1s infinite linear;
	  transition: opacity 0.3s;
	}

	@keyframes load8 {
	  0% {
		transform: rotate(0deg);
	  }
	  100% {
		transform: rotate(360deg);
	  }
	}
	</style>
</head>

<body class="static" onload="removeLoader()" style="position: relative;">
	<div id="site_page_loader"><div class="innerLoader"></div></div>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM6V7R5" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{{ body }}} 
	{{#if appState}}
	<script>
		window.appState = {{{ appState }}}
	</script> 
	{{/if}}
	{{!-- {{#unless app}}
	<noscript id="deferred-styles">
	{{#if styles}}
		<link rel="stylesheet" href="/assets/{{ styles }}.css" media="screen"> 
	{{/if}}
	</noscript>
	<script>
		var loadDeferredStyles = function() {
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		};
		var raf = requestAnimationFrame || mozRequestAnimationFrame ||
			webkitRequestAnimationFrame || msRequestAnimationFrame;
		if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
		else window.addEventListener('load', loadDeferredStyles);
	</script>
	{{/unless}} --}}
	{{#if styles}}
		<link rel="stylesheet" href="/assets/{{ styles }}.css" media="screen"> 
	{{/if}}
	{{#if script}}
	<script src="/assets/{{ script }}"></script>
	{{/if}}
	<script type="text/javascript">
		function removeLoader() {
			document.getElementById("site_page_loader").style.display = "none";
		}
	</script>
</body>

</html>