{{> insurance-nav}}

<section class="banner insuranceBanner">
	<div class="wrapper">
		<div class="container">
			<h1 class="head big">
				Health Insurance made easy
			</h1>
            <h6 class="desc small">
				200+ health plans from 30+ Insurance companies!
				Compare plans, See your savings and enroll with ease.
			</h6>
			<form>
				<span>
					{{#parseJSON '["male","female"]'}}
						{{> dropdown class='gender' placeholder='Gender' items=this}}
					{{/parseJSON}}
					{{#parseJSON '[[110001,"Delhi","Delhi"],[122001,"NCR","Gurgaon"],[400001,"Maharashtra","Mumbai"],[560002,"Karnataka","Bangalore"],[500001,"Telangana","Hyderabad"],[600001,"Tamilnadu","Chennai"]]'}}
						{{> dropdown class='city' placeholder='Your City' cities=this search='Search by name...'}}
					{{/parseJSON}}
				</span>
				<button class="action">Get Quotes</button>
			</form>		
		</div>	
	</div>
</section>

<section class="blueFooterSec full-width">
        <div class="wrapper">
            <div class="container">
                <div class="content">
                    <p>Bottom text will be updated. Zipcover offers a convenient way to buy and compare health insurance in India, offered by top Insurance companies. Not only can you select the best health care insurance for you and your family, but also compare hundreds of medical policies and pick one that fits your budget and offers wholesome benefits with wide level of protection.</p>
                </div>               
            </div>	
        </div>
</section>

{{> insurance-footer}}