{{> nav}}

<section class="banner">
	<div class="wrapper">
		<div class="container">
			<h1 class="head big">
				Health Insurance <br>made easy
			</h1>
			<form>
				<span>
					{{#parseJSON '["male","female"]'}}
						{{> dropdown class='gender' placeholder='Gender' items=this}}
					{{/parseJSON}}
					{{#parseJSON '[[110001,"Delhi","Delhi"],[122001,"NCR","Gurgaon"],[400001,"Maharashtra","Mumbai"],[560002,"Karnataka","Bangalore"],[500001,"Telangana","Hyderabad"],[600001,"Tamilnadu","Chennai"]]'}}
						{{> dropdown class='city' placeholder='Your City' cities=this search='Search by name...'}}
					{{/parseJSON}}
				</span>
				<button class="action">Get Quotes</button>
			</form>
			<h6 class="desc small">
				200+ health plans from 30+ Insurance companies!<br>
				Compare plans, See your savings and enroll with ease.
			</h6>
		</div>	
	</div>
	<div class="rightImageShape"></div>	
</section>

<section class="features full-width a">
	<div class="wrapper">
		<div class="feature">
			<span class="affordable"></span>
			<h6>Affordable, customized quotes</h6>
			<p>
				Compare health policies for your specific requirementsand choose the 
				lowest premium but maximum cover
			</p>
		</div>
		<div class="feature">
			<span class="fair"></span>
			<h6>Fair Results</h6>
			<p>
				Just a few seconds, and you will get 200+ medical policies 
				from top insurers in India.
			</p>
		</div>
	</div>
</section>

<section class="features b full-width">
	<div class="wrapper">
		<div class="description">
			<div class="container">
				<h3>
					Just in few seconds, compare &amp;<br>
					buy medical policies from top<br>
					insurers in India.
				</h3>
				<p>
					Healthiest choice of medical insurance plans,<br>
					tailored to feed your needs.
				</p>
				<button class="action toTop">
					Find a plan
				</button>
			</div>
		</div>
		<div class="features">
			<div class="feature plans">
				<span></span>
				<label>
					<h6>200+ Health Plans</h6>
					<p>All top brands covered</p>
				</label>
			</div>
			<div class="feature quick">
				<span></span>
				<label>
					<h6>Quick &amp; Fair results</h6>
					<p>Tailored to your requirements</p>
				</label>
			</div>
			<div class="feature compare">
				<span></span>
				<label>
					<h6>Compare &amp; choose</h6>
					<p>Transparent unbaised information</p>
				</label>
			</div>
			<div class="feature end">
				<span></span>
				<label>
					<h6>End-to-end claim help</h6>
					<p>Support when you need it</p>
				</label>
			</div>
		</div>
	</div>
</section>

<section class="copy full-width">
	<div class="wrapper">
		<div class="point">
			<h3>Importance of<br> Health Insurance</h3>
			<p>
				Misfortunes never come alone and so don’t the medical emergencies. 
				We must always be prepared for them. A comprehensive health insurance 
				plan protects you and your family from financial losses and the 
				costs incurred because of sickness or injury. In current scenario of 
				high medical inflation rates, being reluctant to hold adequate 
				amount of health insurance cover can be a major hit on your personal 
				finance. Moreover, the premium paid towards medical insurance 
				for self, spouse, children or parents qualifies for deduction under 
				Section 80D of the Income Tax Act.
			</p>
		</div>
		<div class="point">
			<h3>Why is it<br> important to<br> compare?</h3>
			<p>
				At times, you end up purchasing a health insurance policy that costs 
				you less, but lacks in comprehensive coverage. Or, you choose to pay 
				high premium today, and realize later that you could have bought a 
				different policy because you never required add-on benefits in your 
				policy. That’s where the importance of medical insurance policies 
				comparison comes in. When you compare medical policies before making 
				a purchase, you rest assured to choose the right one at the right 
				budget. It’s a great way of getting a better deal under a budget. 
				And that’s what a good deal is!
			</p>
		</div>
		<div class="features">
			<span>Have better covers</span>
			<span>Understand different policies</span>
			<span>Save a considerable amount</span>
			<span>Know about best insurers</span>
			<span>Lower premium rates</span>
			<span>Get policy issued instantly</span>
			<span>Maximum cover</span>
			<span>Get proper claim assistance</span>
		</div>
	</div>
</section>

<section class="advantage full-width">
	<div class="wrapper">
		<h3>The Zipcover advantage</h3>
		<p class="desktop">
			Zipcover is one of the leading health insurance comparison sites in India, 
			focused on showing its prospective customers top insurance products as well 
			as prices. Partnered with India’s leading insurance companies, we help you 
			compare hundreds of health insurance plans in India either for individuals 
			or family. We are authorized and regulated by the Insurance Regulatory and 
			Development Authority of India (IRDA) and are growing on a high pace as a 
			top health insurance comparison site. We assist by:
		</p>
		<p class="mobile">
			Right from choosing the most comprehensive plans to claim settlement and renewals. 
		</p>
		<div class="features">
			<div class="feature unbiased">
				<span></span>
				<label>
					<h6>Unbiased</h6>
					<p>
						Zipcover gives information you need about the<br>
						policy, completely unbiased.
					</p>
				</label>
			</div>
			<div class="feature support">
				<span></span>
				<label>
					<h6>Dedicated support</h6>
					<p>
						We’re fully dedicated to helping you till you get the<br>
						best insurance deals.
					</p>
				</label>
			</div>
			<div class="feature paperless">
				<span></span>
				<label>
					<h6>Paperless</h6>
					<p>
						We empower you to undergo an informed<br>
						transaction that is also paperless.
					</p>
				</label>
			</div>
			<div class="feature easy">
				<span></span>
				<label>
					<h6>Easy to use</h6>
					<p>
						We make finding the right policies and getting<br>
						claims, hassle-free &amp; quick.
					</p>
				</label>
			</div>
		</div>
	</div>
</section>

<section class="advantage b full-width">
	<div class="wrapper">
		<h3>How Zipcover works for you</h3>
		<p>
			At Zipcover, we believe that a sudden hospitalization or any type of 
			disease can make you run out of finances. You are left with no choice 
			other than dipping into your savings. To pull you out from such a 
			situation, we help you obtain comprehensive health insurance and 
			tide over medical expenses. Whenever you choose Zipcover, you are 
			at a one-stop platform wherein you can avail the benefits of comparing 
			the widest choice of medical insurance plans in India, such as:
		</p>
		<div class="features">
			<div class="feature sales">
				<span></span>
				<label>
					<h6>Sales Assistance</h6>
					<p>
						Our professionals stay awake and alert to help you with 
						real advice that you can trust for making cognizant decisions.
					</p>
				</label>
			</div>
			<div class="feature claims">
				<span></span>
				<label>
					<h6>Claims Assistance</h6>
					<p>
						Medical traumas hit not few, but everyone. So, we assist 
						post the plan purchased, and represent you in front of the 
						insurer for claims.
					</p>
				</label>
			</div>
		</div>
	</div>
</section>

<section class="reviews full-width">
	<div class="wrapper">
		<h3>Customer experience with Zipcover</h3>

		<div class="carousel reviews">
			<a class="cell review" target="_blank" href="https://www.facebook.com/seema.sharma.94064176/activity/1483634141692012">
				<span></span>
				<p>
					Very reliable and quick service..very happy to connected with amazing people.		
				</p>
				<label>Seema Sharma Mohla</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/capt.sethi/activity/10154957474347461">
				<span></span>
				<p>
					Single Point Solution to all Insurance needs, that too at Best Comparative Premiums, with optimum use of Technology.
				</p>
				<label>Capt Aman Sethi</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/vineet.sharma.3914207/activity/1723956627650663">
				<span></span>
				<p>
					Zipcover is one solution of all insurance needs. Its a revolution in Insurance Industry. It Helped me choose the right health
					insurance at the best price for me and my family. Zipcover enabled me to buy policy really fast and without any paper
					work friendly Team of ZIPCOVER explained all plans and their benefits in detail. Cheers guys. Do well Happy and Safe
					Landings!		
				</p>
				<label>Vineet Sharma Mohla</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/ashu.nagpal.737/activity/1159303970873851">
				<span></span>
				<p>
					It is very reliable and the service is very quick. very satisfactory. I recommend that all should give it a try.		
				</p>
				<label>Ashu Nagpal</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/akshet/activity/10155923094721565">
				<span></span>
				<p>
					Bought a family floater scheme (insured my entire family)at a very attractive price, specially tailor made for my family.
					Very good sales representatives, knew their subject, guided me through the whole process.
				</p>
				<label>Akshet Katyal</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/pranav.kashyap/activity/10159569677775401">
				<span></span>
				<p>
					Complete professionals and amazing service. Got me the best policy and helped expedite my claim.
				</p>
				<label>Pranav Kashyap</label>
			</a>

			<a class="cell review" target="_blank" href="https://www.facebook.com/ashr1t/activity/10208778876788241">
				<span></span>
				<p>
					Amazing professionalism and one of the most customer friendly service providers. Helped me get the best insurance for my
					car at a great and competitive price that no one else could match.
				</p>
				<label>Ashrit Sethi</label>
			</a>
		</div>

		<h4>Access to all leading insurers</h4>
		<h6>With over 200 products to choose from, Zipcover helps you find the right one.</h6>

		<div class="insurers">
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
			<div class="logo">
				<div class="overlay"></div>
			</div>
		</div>

	</div>
</section>

<section class="cta full-width">
	<div class="right-policy-bg"></div>
	<div class="container">
		<h1 class="head big position-r">
			Find the right policy for you
		</h1>
		<form class="position-r">
			<span>
				{{#parseJSON '["male","female"]'}}
					{{> dropdown class='gender' placeholder='Gender' items=this}}
				{{/parseJSON}}
				{{#parseJSON '[[110001,"Delhi","Delhi"],[122001,"NCR","Gurgaon"],[400001,"Maharashtra","Mumbai"],[560002,"Karnataka","Bangalore"],[500001,"Telangana","Hyderabad"],[600001,"Tamilnadu","Chennai"]]'}}
					{{> dropdown class='city' placeholder='Your City' cities=this search='Search by name...'}}
				{{/parseJSON}}
			</span>
			<button class="action">Get Quotes</button>
		</form>
	</div>
	<div class="right-policy-bg-left"></div>
</section>

{{> footer}}