{{> nav}}

<div class="landing">

    <section class="banner">
        <div class="wrapper">
            <div class="container">
                <div class="content">
                    <h1 class="head big">
                        A Holistic Approach <br>
                        to buy Health <br>
                        Insurance in India
                    </h1>
                    <h6 class="desc small">
                        Zipcover cares for you by empowering you to compare <br>
                        and choose affordable but best online health insurance <br>
                        plans to combat your health issues.
                    </h6>
                </div>
                <form>
                    <div class="input name">
                        <input placeholder="Your Name">
                        <span>Please enter a valid name</span>
                    </div>
                    <div class="input phone">
                        <input placeholder="Phone Number">
                        <span>Please enter valid, 10 digit mobile number</span>
                    </div>
                    <div class="input email">
                        <input placeholder="Email ID">
                        <span>Please enter valid Email Id</span>
                    </div>
                    <button class="action">Get Free Quotes<span class="arrow-icon"></span></button>						
                    <span class="note">
                        Your details are kept private. See our <a href="">privacy policy</a>.
                    </span>
                </form>
            </div>	
        </div>
    </section>

    <section class="modal">
        <div class="modal">
            <span class="close">&times;</span>
            <h3>Find a right policy for you</h3>
            <form>
				<span>
					{{#parseJSON '["male","female"]'}}
						{{> dropdown class='gender' placeholder='Gender' items=this}}
					{{/parseJSON}}
					{{#parseJSON '[[110001,"Delhi","Delhi"],[122001,"NCR","Gurgaon"],[400001,"Maharashtra","Mumbai"],[560002,"Karnataka","Bangalore"],[500001,"Telangana","Hyderabad"],[600001,"Tamilnadu","Chennai"]]'}}
						{{> dropdown class='city' placeholder='Your City' cities=this search='Search by name...'}}
					{{/parseJSON}}
				</span>
				<button class="action">Continue</button>
			</form>
        </div>
    </section>

    <section class="features b c full-width">
        <div class="wrapper">
            <h3>Compare and Find Plans According to Your <br>Requirements</h3>
            <div class="features">
                <div class="feature family">
                    <span></span>
                    <label>
                        <h6>Family Floater</h6>
                        <p>
                            A single health plan, designed to cover the people you do 
                            have a crush on, and ventilate the healthcare worries.
                        </p>
                    </label>
                </div>
                <div class="feature maternity">
                    <span></span>
                    <label>
                        <h6>Maternity cover</h6>
                        <p>
                            Celebrate the moment with your spouse while she is in the 
                            family way by letting the insurance lessen the burden of expense.
                        </p>
                    </label>
                </div>
                <div class="feature senior">
                    <span></span>
                    <label>
                        <h6>Senior Citizens</h6>
                        <p>
                            Never fall into health crisis during your 60s. Cherish all your 
                            golden years by sidestepping all medical expenses.
                        </p>
                    </label>
                </div>
                <div class="feature critical">
                    <span></span>
                    <label>
                        <h6>Critical Illness plans</h6>
                        <p>
                            Choose a plan that covers critical illness and recovers from serious 
                            health conditions with the best medical treatment possible.
                        </p>
                    </label>
                </div>
                <div class="feature global">
                    <span></span>
                    <label>
                        <h6>Global coverage</h6>
                        <p>
                            Meet the evolving needs of proper medical attention in the changing 
                            healthcare environment, wherever you go.
                        </p>
                    </label>
                </div>
            </div>
            <span class="note">
                We have everything you need to give your baby, spouse, and 
                parent a healthy lifestyle. Committed to being your most reliable 
                healthcare partner and promote a healthier nation, we give 
                innovative approaches for a range of medical insurance policies.
            </span>
            <button class="action toTop">
                Find a plan
            </button>
        </div>
    </section>

    <section class="advantage landing full-width">
        <div class="wrapper">
            <h3>Benefits of Health Insurance Plans</h3>
            <p class="desktop">
                A comprehensive health insurance policy enables you to get cashless treatment 
                or get reimbursement for the expense due to illness or an injury that leads to 
                hospitalization. The insurance company provides you with cashless treatment 
                facility in-network hospitals across the country or facilitates reimbursement 
                for the incurred expenses in a non-networked hospital. Moreover, the health 
                insurance cost is qualified for the tax deduction under Section 80D of the 
                Income Tax Act. 
            </p>
            <p class="mobile">
                A comprehensive health insurance policy enables you to get cashless treatment 
                or get reimbursement for the expense due to illness or an injury that leads to 
                hospitalization. The insurance company provides you with cashless treatment 
                facility in-network hospitals across the country or facilitates reimbursement 
                for the incurred expenses in a non-networked hospital. Moreover, the health 
                insurance cost is qualified for the tax deduction under Section 80D of the 
                Income Tax Act.
            </p>
            <div class="features">
                <div class="feature cashless">
                    <span></span>
                    <label>
                        <h6>Cashless Treatment</h6>
                        <p>
                           Every insurer has tie-ups with top-class hospitals and nursing homes across the country. If you are admitted to such hospitals, you can get treatment with paying nothing.
                        </p>
                    </label>
                </div>
                <div class="feature claim">
                    <span></span>
                    <label>
                        <h6>No Claim Bonus</h6>
                        <p>
                            If the insured person doesn’t file a claim for any treatment in the previous year, he is offered No Claim Bonus (NCB) benefits. It could be in form of sum assured increment.
                        </p>
                    </label>
                </div>
                <div class="feature ambulance">
                    <span></span>
                    <label>
                        <h6>Ambulance Fee</h6>
                        <p>
                            The insurer burns the burden of ambulance fee. So, insured is free from it. This is an add-on benefit. Opt for it while purchasing your medical plan.
                        </p>
                    </label>
                </div>
                <div class="feature medical">
                    <span></span>
                    <label>
                        <h6>Medical Check-Up</h6>
                        <p>
                            The insured person can receive medical check-ups. Free check-up is available with some insurers if the insured has maintained a good history of no claim bonus.
                        </p>
                    </label>
                </div>
                <div class="feature hospitalization">
                    <span></span>
                    <label>
                        <h6>Pre &amp; Post Hospitalization</h6>
                        <p>
                            Your insurance takes care of your pre and posthospitalization costs over a period of 30 to 60 days. The number of days both prior to and post hospitalization depends on the policy purchased.
                        </p>
                    </label>
                </div>
                <div class="feature reimbursement">
                    <span></span>
                    <label>
                        <h6>Reimbursement</h6>
                        <p>
                            The insurer reimburses the expense incurred during the hospitalization in a non-network hospital. However, for this you need to provide all the original documents to the policy provider like hospital bills, medicine bills, policy number, hospital’s name.
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="features b d full-width">
        <div class="wrapper">
            <div class="description">
                <div class="container">
                    <h3>
                        Why is a Health <br>
                        Insurance Policy the <br>
                        Need of the Day?
                    </h3>
                    <p>
                        The way we live our lives has taken us away from healthy living. Our life brings anxiety and stress, taking a toll on our physical health. Be it consumption of junk food or higher level of pollutants in the environment, we have put our lives at major health risks. Moreover, the cruel claws of our stressed work schedule, non-stop smoking and non-stop snacking have caught us. With such habits, one cannot dream of a healthy and delightful life. Thanks to the different types of health insurance policies in the country that keep you away from unexpected medical expenses.
                    </p>
                </div>
            </div>
            <div class="features">
                <div class="feature rising">
                    <span></span>
                    <label>
                        <h6>Rising medical costs</h6>
                        <p>
                            When a single hospitalisation costs as much as a 5-day trip to Malaysia, you know what you need to do.
                        </p>
                    </label>
                </div>
                <div class="feature secure">
                    <span></span>
                    <label>
                        <h6>Secure early</h6>
                        <p>
                            Insurance cost is a steal compared to serious healthcare costs. Secure against financial ruin, get insured!
                        </p>
                    </label>
                </div>
                <div class="feature first">
                    <span></span>
                    <label>
                        <h6>You are first</h6>
                        <p>
                            Admit it, you'd get your cars, houses &amp; precious jewels insured without a second thought. So why not yourself?
                        </p>
                    </label>
                </div>
                <div class="feature sudden">
                    <span></span>
                    <label>
                        <h6>Sudden illness/accident</h6>
                        <p>
                            You may be healthy now, but let's make sure you get the right treatment and cover in times of trouble.
                        </p>
                    </label>
                </div>
                <div class="feature tax">
                    <span></span>
                    <label>
                        <h6>Tax deductions</h6>
                        <p>
                            If protecting your health isn't reason enough, how about saving taxes?
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="content full-width">
        <div class="wrapper">
            <h3>
                Choosing the Best Individual Health Insurance Plans
            </h3>
            <div class="row">
                <div class="cell">
                    <h6>Cover Scope</h6>
                    <p>
                        When you compare plans, don’t just go for the lower premium. Instead, focus on what the plan includes. The wider the coverage, the better the policy.
                    </p>
                </div>
                <div class="cell">
                    <h6>Exclusions and Restrictions</h6>
                    <p>
                        Even the best insurance health policy may come with a range of exclusions. Check the policy wordings of the insurance company and make sure what you are covered and nor covered for.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <h6>Family Size</h6>
                    <p>
                        If you are want to buy a family floater plan, closely look at the size of the family allowed under the plan. If you are a person in your late 30s and your parents in 55s or 65s, choose the plan accordingly.
                    </p>
                </div>
                <div class="cell">
                    <h6>High Claim Settlement Ratio</h6>
                    <p>
                        Check high Claim Settlement Ratio (CSR) of the insurer. The higher the CSR, the better. CSR is published by IRDAI to help you determine the ability of the insurer to pay your claims.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <h6>Cashless Hospital Network</h6>
                    <p>
                        Check if a hospital is available on the list of networked hospitals of the insurer you want to buy the policy from.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="content b full-width">
        <div class="wrapper">
            <h3>
                Settlement Process of Health Insurance Claims
            </h3>
            <h6>
                You may not be aware of TPA. It is the body that takes up the baton from the insurance company. For claims settlement, the insured person needs to approach TPA for formalities. TPAs settle claims in two ways.
            </h6>
            <div class="row">
                <div class="cell">
                    <h6>Cover Scope</h6>
                    <p>
                        Cashless treatment facilities are available with network hospitals of the insurance provider. If it’s a planned hospitalization, the TPA is notified in advance and in case of an emergency within a specified time. You can avail help regarding documents from the hospital’s insurance professionals.
                    </p>
                </div>
                <div class="cell">
                    <h6>Exclusions and Restrictions</h6>
                    <p>
                        Reimbursement facility is available both at networked and non-networked hospitals. In this case, you can avail the treatment by settling the bill directly with the hospital. For the reimbursement from the TPA, you need to submit the relevant bills and receipts either by hand or by post.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="advantage full-width">
        <div class="wrapper">
            <h3>The Zipcover advantage</h3>
            <p class="desktop">
                Zipcover is one of the leading health insurance comparison sites in India, 
                focused on showing its prospective customers top insurance products as well 
                as prices. Partnered with India’s leading insurance companies, we help you 
                compare hundreds of health insurance plans in India either for individuals 
                or family. We are authorized and regulated by the Insurance Regulatory and 
                Development Authority of India (IRDA) and are growing on a high pace as a 
                top health insurance comparison site. We assist by:
            </p>
            <p class="mobile">
                Right from choosing the most comprehensive plans to claim settlement and renewals. 
            </p>
            <div class="features">
                <div class="feature unbiased">
                    <span></span>
                    <label>
                        <h6>Unbiased</h6>
                        <p>
                            Zipcover gives information you need about the<br>
                            policy, completely unbiased.
                        </p>
                    </label>
                </div>
                <div class="feature support">
                    <span></span>
                    <label>
                        <h6>Dedicated support</h6>
                        <p>
                            We’re fully dedicated to helping you till you get the<br>
                            best insurance deals.
                        </p>
                    </label>
                </div>
                <div class="feature paperless">
                    <span></span>
                    <label>
                        <h6>Paperless</h6>
                        <p>
                            We empower you to undergo an informed<br>
                            transaction that is also paperless.
                        </p>
                    </label>
                </div>
                <div class="feature easy">
                    <span></span>
                    <label>
                        <h6>Easy to use</h6>
                        <p>
                            We make finding the right policies and getting<br>
                            claims, hassle-free &amp; quick.
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="cta full-width">
        <div class="wrapper">
            <div class="container">
                <div class="content">
                    <h1 class="head big">Find the right policy for you</h1>
                </div>
                <form>
                    <div class="input name">
                        <input placeholder="Your Name">
                        <span>Please enter a valid name</span>
                    </div>
                    <div class="input phone">
                        <input placeholder="Phone Number">
                        <span>Please enter valid, 10 digit mobile number</span>
                    </div>
                    <div class="input email">
                        <input placeholder="Email ID">
                        <span>Please enter valid Email Id</span>
                    </div>
                    <button class="action">Get Free Quotes</button>
                    <span class="note">
                        Your details are kept private. See our <a href="">privacy policy</a>.
                    </span>
                </form>
            </div>	
        </div>
    </section>

</div>

{{> footer}}