@import 'normalise.scss';
/*@import 'bootstrap_grid.scss';
 @import "bootstrap-grid.css"; */
@font-face {
	font-family: 'regular';
	src: url(../fonts/Inter-UI-Regular.woff);
}

@font-face {
	font-family: 'medium';
	src: url(../fonts/Inter-UI-Medium.woff);
}

@font-face {
	font-family: 'logo';
	src: url(../fonts/BrandonGrotesque-Bold.otf);
}

@mixin no-padding() {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@mixin vertical-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin absolute-center() {
	@include vertical-center();
	left: 0;
	right: 0;
	margin: 0 auto;
}

@mixin background-image() {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

a {
	color: #000;
	text-decoration: none;
}
.color_blue { color: blue; }
section,
footer {
	width: 100%;
	min-height: 4em;
	position: relative;
	float: left;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul {
	margin: 0;
	padding: 0;
	cursor: default;
	font-weight: normal;
}
$white:#ffffff;
$blue:#5267ff;
$green:#00ffc8;
$purple:#262f96;
$copy-dark:#252736;
$copy-light:#65747c;
$copy-lighter:#96a9b3;
$dropdown-seperator:#d9e6ec;
$shadow:0px 0px 12px -4px rgba(134, 134, 134, 0.75);
$dd-hover:rgba(82, 103, 255, 0.05);
$tooltip: #1b272f;
$red:#ff5a5a;
$dark:#1b272f;
$gutter: 10rem;
$gutter_desktop: 10rem;
$gutter_desktopS: 5rem;
$desktop: 1400;
$desktopS: 1200;
$tablet: 768;
$phone: 376;
html {
	font-size: 14px;
	@include no-padding();
	overflow-y: scroll !important;
	width: 100%;
	body {
		@include no-padding();
		font-family: regular;
		display: table;
		width:calc(100% - #{$gutter*2});
		margin: 0 auto;
		left: 0;
		right: 0;
		.container-react {
			width: 100%;
			min-height: calc(100vh - 4.5rem);
			padding-top: 4.5rem !important;
			float: left;
			position: relative;
			background: #fcfdfd;
			>div,
			main {
				position: relative;
				width: 100%;
				height: 100%;
			}
			main {
				&.requirements {
					min-height: calc(100vh - 7.5rem);
					float: left;
				}
				&.quote-details-mobile {
					min-height: calc(100vh - 8.5rem);
					float: left;
				}
				&.quotes {
					min-height: calc(120vh);
					float: left;
				}
			}
			.wrapper {
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				display: table;
				position: relative;
			}
		}
		&.disable-scroll {
			position: fixed;
		}
		@media (min-width: #{$desktop}px) {
			width:calc(100% - #{$gutter_desktop*2});
			padding: 0 $gutter_desktop;
			.container-react {
				padding: 0 $gutter_desktop;
				margin-left: -$gutter_desktop;
			}
		}
		@media (max-width: #{$desktop}px) {
			width:calc(100% - #{$gutter_desktopS*2});
			padding: 0 $gutter_desktopS;
			.container-react {
				padding: 0 $gutter_desktopS;
				margin-left: -$gutter_desktopS;
			}
		}
		@media only screen and (max-width: 1200px) {
			width: calc(100% - 40px);
			padding: 0 20px;
			.container-react {
				padding: 0 20px;
				margin-left: -20px;
			}
		}
		@media only screen and (max-width: 400px) {
			width: calc(100% - 20px);
			padding: 0 10px;
			.container-react {
				padding: 0 10px;
				margin-left: -10px;
			}
		}
	}
	@media only screen and (min-width: 801px) and (max-width: 1200px) {
		font-size: 13px;
	}
	@media only screen and (max-width: 800px) {
		font-size: 12px;
	}
}

.fade-enter {
	opacity: 0.01;
	margin-top: 0.5em !important;
	position: absolute !important;
	top: 0;
	left: 0;
}

.fade-enter-active {
	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 1;
	margin-top: 0 !important;
	transition-delay: 1s;
	transition: opacity 500ms ease-in, margin-top 500ms ease-out;
}

.fade-exit {
	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 1;
	margin-top: 0 !important;
}

.fade-exit-active {
	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 0.01;
	margin-top: 0.5em !important;
	transition: opacity 300ms ease-in, margin-top 300ms ease-out;
}

.slide-enter {
	opacity: 0.01;
	margin-left: -20px !important;
}

.slide-enter-active {
	opacity: 1;
	margin-left: 0 !important;
	transition-delay: 1s;
	transition: opacity 300ms ease-in, margin-left 300ms ease-out;
}

.slide-exit {
	opacity: 1;
	margin-top: 0 !important;
}

.slide-exit-active {
	opacity: 0.01;
	margin-left: 20px !important;
	transition: opacity 300ms ease-in, margin-left 300ms ease-out;
}

.slide-switch-enter {
	opacity: 0.01;
	margin-left: 20px !important;
}

.slide-switch-enter-active {
	opacity: 1;
	margin-left: 0 !important;
	transition-delay: 1s;
	transition: opacity 300ms ease-in, margin-left 300ms ease-out;
}

.slide-switch-exit {
	opacity: 1;
	margin-left: 0 !important;
}

.slide-switch-exit-active {
	opacity: 0.01;
	margin-left: -20px !important;
	transition: opacity 300ms ease-in, margin-left 300ms ease-out;
}

.fade-nav-enter {
	opacity: 0.01;
	margin-top: -10px !important;
}

.fade-nav-enter-active {
	opacity: 1;
	margin-top: 0 !important;
	transition: opacity 300ms ease-in, margin-top 300ms ease-out;
}

.fade-nav-exit {
	opacity: 1;
	margin-top: 0 !important;
}

.fade-nav-exit-active {
	opacity: 0.01;
	margin-top: -3rem !important;
	transition: opacity 300ms ease-in, margin-top 300ms ease-out;
}

.slide-quote-enter {
	opacity: 0.01;
	margin-top: calc(1.5rem - 10px) !important;
}

.slide-quote-enter-active {
	opacity: 1;
	margin-top: 1.5rem !important;
	transition-delay: 1s;
	transition: opacity 300ms ease-in, margin-top 300ms ease-out;
}

.slide-quote-exit {
	opacity: 1;
	margin-top: 1.5rem !important;
}

.slide-quote-exit-active {
	opacity: 0.01;
	margin-top: calc(1.5rem - 10px) !important;
	transition: opacity 300ms ease-in, margin-top 300ms ease-out;
}

.rightImageShape {
	background-image: url(../images/landing/banner-illustartion.png);
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	width: 40%;
	height: 84%;
	position: absolute;
	right: -5em;
	top: 15px;
	z-index: 9;
	@media only screen and (max-width: 1199px) {
		right:-20px;
	}
	@media only screen and (max-width: 650px) {
		background-image: url(../images/landing/banner-illustartion-smal.png);
		top: 10px;
		height: 100%;
	}
	@media only screen and (max-width: 400px) {
		right: -10px;
	}
}

.right-policy-bg {
	background: url(../images/landing/green-shape.png) top left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 0;
	@media only screen and (max-width: 650px) {
		background-image: url(../images/landing/mobile-green-shape.png);
		max-width: 240px;
	}
	@media only screen and (max-width: 400px) {
		background-image: url(../images/landing/mobile-green-shape.png);
		max-width: 200px;
	}
}

.right-policy-bg-left {
	background: url(../images/landing/green-shape-right.png) bottom right;
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 580px;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 0;
	right: 0;
	width: 100%;
	@media only screen and (max-width: 992px) {
		max-width:300px;
	}
	@media only screen and (max-width: 650px) {
		background-image: url(../images/landing/mobile-shape-right.png);
		max-width: 280px;
	}
	@media only screen and (max-width: 400px) {
		background-image: url(../images/landing/mobile-shape-right.png);
		max-width: 230px;
	}
}

.landing section.banner form button .arrow-icon {
	background-image: url(../images/landing/next-arrow.png);
	height: 50px;
	width: 30px;
	position: absolute;
	background-repeat: no-repeat;
	right: 20px;
	top: 20px;
	@media only screen and (max-width: 650px) {
		top:15px;
	}
}

.landing section.banner form button {
	position: relative;
}

.position-r {
	position: relative;
	z-index: 4
}


/****policy buyer form css start*****/
.customerDetailsForms{
	width: 65%;
    float: left;
    height: 100%;
	@media only screen and (max-width: 767px) {
		 width: 100%;
	}
}

.customerDetailsForms .head{
	float: left;
	width: 100%;
	display: block;
	max-width: 780px;
	overflow: hidden;
}

.customerDetailsForms .input-render-field,
.field-datepicker {
	height: 3rem;
	position: relative;
	float: left;
	border-bottom: solid 1px #d9e6ec;
	margin-bottom: 30px;
	width: 47%;
	margin-right: 20px;
	@media only screen and (max-width: 767px) {
		width:100%;
	}
	label {
		position: absolute;
		pointer-events: none;
		top: 1.3rem;
		transition: all 0.2s;
	}
	label span {
		font-size: 12px;
		color: #65747c;
		transition: all 0.2s;
		pointer-events: none;
	}
	input {
		width: 100% !important;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0;
		text-transform: capitalize;
		height: 2rem;
		padding-top: 0.5rem;
		position: absolute;
		bottom: 0;
		/* font-size: 16px; */
		font-size: 14px;
		color: $dark;
	}
	.error {
		position: absolute;
		display: block;
		width: 100%;
		left: 0;
		bottom: -1.4rem;
		font-size: 0.9rem;
		color: #ff6b6b;
		font-size: 11px;
	}
	select {
		-webkit-appearance: none;
		background-image: url(../images/dropdown-line-small.png);
		background-repeat: no-repeat;
		background-position: right;
	}
}

.container-field.field-read-only.field-hidden.hidden_field_element {
	display: none;
}

/***review long text***/

.container-field.field-read-only.input-render-field.long {
	display: inline-block;
	height: 100%;
	min-height: 80px;
	width: 97.5%;
	label {
		width: 80%;
		float: left;
		font-size: 14px;
		color: rgb(101, 116, 124);
	}
	.value {
		float: right;
		width: 10%;
		text-align: right;
		padding-right: 10px;
		color: #5267ff;
	}
}

.customerDetailsForms .input-render-field.selected label {
	top: -0.1rem;
	span {
		font-size: 12px;
	}
}
.customerDetailsForms .input-render-field:focus-within {
	label { 
		top: -0.1rem !important;
	}
	// dobLabel
	label.dobLabel { visibility: hidden;}
}
// dobLabelDisplayNone
.customerDetailsForms .dobLabelDisplayNone {  visibility: hidden; }
/***datepicker css***/

.customerDetailsForms .field-datepicker input {
	width: auto !important;
	position: static;
	height: 40px;
	font-size: 14px;
}


/***selectbox css**/

.customerDetailsForms .field-select {
	select {
		width: 100% !important;
		font-size: 14px;
	}
	label {
		position: relative;
	}
}

.customerDetailsForms .field-select.selected label {
	top: 0px;
	span {
		font-size: 12px;
	}
}


/***radio button css****/

.container-field.field-radio.radio-new {
	float: left;
	width: 97%;
	text-align: left;
	margin: 15px 0px 25px;
	padding: 15px 0px;
	border-bottom: 1px solid #d9e6ec;
	label.labelRadioBtn {
		width: 70%;
		text-align: left;
		float: left;
		font-size: 14px;
		color: #65747c;
		@media only screen and (max-width: 767px) {
			width:100%
		}
	}
	label.container-radio {
		float: right;
		color: #5267ff;
		text-align: center;
		font-family: medium;
		border-radius: 5px;
		box-shadow: 0 1px 2px 0 rgba(82, 103, 255, 0.2);
		background-color: $white;
		border: solid 1px rgba(82, 103, 255, 0.5);
		margin-left: 15px;
		height: 32px;
		width: 56px;
		line-height: 30px;
		@media only screen and (max-width: 767px) {
			margin-left: 0px;
			margin-right: 15px;
			float: left;
		}
	}
	.error {
		position: absolute;
		display: block;
		width: 100%;
		left: 0;
		bottom: -1.4rem;
		font-size: 0.9rem;
		color: #e62543;
	}
	.RadioInnerClass {
		float: right;
		width: 25%;
		text-align: right;
		@media only screen and (max-width: 767px) {
			width:100%;
			float:left;
			margin-top: 10px;
		}
	}
	.RadioInnerClass .container-radio [type="radio"] {
		visibility: hidden;
		position: absolute;
	}
	.RadioInnerClass .container-radio.active {
		background: $blue;
		color: $white;
	}
}

.customerDetailsForms h4 {
	color: $purple !important;
	font-size: 16px !important;
	font-family: medium;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	clear: both;
	text-transform: capitalize;
	margin-top: 10px
}

.customerDetailsForms .head p {
	font-family: medium;
	font-size: 0.9rem;
	color: #1b272f;
	margin-top: 0.8rem;
	margin-bottom: 20px;
}

.container-nav .wrapper .note a {
	color: $purple;
	font-family: medium;
}

.forms_back_btn {
	background: $white;
	border-radius: 5px;
	color: $purple;
	border: solid 1px $purple;
	outline: none;
	box-sizing: border-box;
	font-size: 1.1rem;
	font-family: medium;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 5px 50px;
	margin-right: 15px;
	span {
		left: 1rem;
		line-height: 2.5rem;
		color: $purple;
		position: absolute;
	}
}

.buy_continue_btn {
	background: #00ffc8;
	border-radius: 5px;
	color: $purple;
	border: none;
	outline: none;
	box-sizing: border-box;
	height: 2.5rem;
	width: 10rem;
	font-size: 1.1rem;
	font-family: medium;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 6px 50px;
}

.buy_continue_btn.disable {
	background: #f9fbfc;
	color: #96a9b3;
}

.container-nav {
	z-index: 999999;
}


/***readonly input css***/

.container-field.field-read-only {
	div.value {
		line-height: 60px;
		font-size: 14px;
	}
	label {
		top: 0px;
	}
}


/**datepicker css***/

button.react-datepicker__navigation.react-datepicker__navigation--previous,
button.react-datepicker__navigation.react-datepicker__navigation--next {
	font-size: 0;
	padding: 0;
	line-height: 0;
	background: no-repeat;
}

.react-datepicker-popper {
	z-index: 999;
}


/****height dropdown***/

.container-field.field-heightSelect {
	border-bottom: 0px solid;
	height: 43px;
	label {
		top: 0px;
	}
	.container-select {
		width: 45%;
		float: left;
		border-bottom: 1px solid #d9e6ec;
		font-size: 14px;
		color: #b5c5cd;
		margin-top: 12px;
		line-height: 30px;
	}
	select {
		color: #b5c5cd;
		width: 100%;
	}
	.Inch {
		float: right;
		position: relative;
		.error {
			bottom: -28px
		}
	}
	.Feet {
		position: relative;
		.error {
			bottom: -28px
		}
	}
}


/***member select css**/
.container-member-details .container-additional-info .wrapper-additional-info{
	border-radius: 6px;
    background-color: #f9fbfc;
    padding: 0px 30px;
    width: 92.5%;
    display: inline-block;
    margin-top: 10px;
	.wrapper-field{
		margin: 5px 0px;
	}
}

.container-field.field-radio-medicalHistory {
	margin-bottom: 20px;
	font-size: 14px;
	border-top: 1px dotted #d9e6ec;
	padding-top: 20px;
	width: 100%;
	display: inline-block;
	.container-questions-inner .scrollbar-container {
		overflow: inherit !important;
	}
	.container-question {
		width: 70%;
		text-align: left;
		display: inline-block;
		margin-top: 10px;
		 padding-bottom: 10px;
	}
	.container-question-main {
		position: relative;
		.value {
			width: 56px;
			height: 28px;
			background-color: rgb(249, 251, 252);
			margin-left: 15px;
			display: inline-block;
			text-align: center;
			line-height: 28px;
			color: rgb(82, 103, 255);
			font-family: medium;
			font-size: 14px;
			border-radius: 5px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(217, 230, 236);
			border-image: initial;
			float: right;
		}
	}
	.question {
		color: #96a9b3;
		margin-right: 0;
		width: 5%;
		height: 20px;
		display: inline-block;
	}
	.question-text {
		color: #65747c;
		font-size: 14px;
		margin-left: 0px;
		width: 93%;
		float: right;
		display: inline-block;
		margin-bottom: 10px;
	}
	.medicalHistoryBlueRadioButtons {
		float: right;
		width: 30%;
		text-align: right;
	}
	.wrapper-radio .container-radio {
		width: 56px;
		height: 28px;
		border-radius: 5px;
		background-color: #f9fbfc;
		border: solid 1px #d9e6ec;
		margin-left: 15px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		color: rgb(82, 103, 255);
		font-family: medium;
		font-size: 14px;
	}
	.wrapper-radio .container-radio.active {
		background: $blue;
		color: $white;
	}
	.container-question-main .wrapper-radio .container-radio [type="radio"] {
		visibility: hidden;
		position: absolute;
	}
	.wrapper-level-1 {
		border-radius: 6px;
		background-color: #f9fbfc;
		padding: 10px 30px 20px;
		width: 92.5%;
		display: inline-block;
		height: 100%;
	}
	.wrapper-level-1 p.disease-text {
		display: block;
		clear: both;
		color: #65747c;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.container-checks .container-check {
		width: 30%;
		float: left;
		display: inline-block;
		margin-bottom: 10px;
	}
	.container-checks .container-check .container-member {
		float: left;
	}
	.container-checks .container-check .container-field {
		width: 30px;
		float: left;
	}
	.container-checks .container-check p.member-name {
		font-size: 14px;
		color: #1b272f;
		margin: 0px;
		line-height: 20px;
	}
	.error {
	color: red;
    position: absolute;
    left: 0;
    bottom: 2px;
    font-size: 12px;		
	}
	.wrapper-field .input-render-field .error{
		bottom:-20px;
	}
	.container-member-details.single-detail{
		.renderDiseasesTypeC .container-additional-info.no-checks .field-select{
			height:20px;
			margin-bottom: 5px;
			display: block;
		}
		.container-additional-info.no-checks .container-member p.member-name{
			line-height: 30px;
			color:#5267ff;
		}
		.container-additional-info.no-checks .error{
			bottom: -20px;
		}
	}
}

.container-check .container-field {
	.renderFieldCheckboxClass {
		display: none;
	}
	.renderFieldCheckboxClass+label {
		background-color: $white;
		border: 1px solid #d9e6ec;
		border-radius: 4px;
		display: inline-block;
		position: relative;
		height: 20px;
		width: 20px;
	}
	.renderFieldCheckboxClass:checked+label {
		background: #5267ff;
		border: 1px solid #d9e6ec;
		color: #99a1a7;
	}
	.renderFieldCheckboxClass:checked+label:after {
		content: '\2714';
		font-size: 15px;
		position: absolute;
		top: 2px;
		left: 4px;
		color: $white;
	}
}

.container-policy-details .container-policy {
	top: 270px !important;
}


/***review page****/
.reviewForms{
	.container-fields-member .member-name{
		font-size: 16px;
		color: $purple;
		text-transform: capitalize;
		font-family: medium;
		float: left;
		width: 100%;
	}
}
.container-tnc{	
	margin-top:0px !important;
	span{ padding-left: 10px;}	
}
.reviewForms, .container-tnc{
	padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(101,116,124,0.1);
	border: solid 1px #eaecef;
	border-top: none;
	float: left;
	width: 100%;
	max-width: calc(100% - 40px);
}
.review-container-answers{
	.container-check .container-field{
		width: 100% !important;
	}
	.container-member p.member-name{
		line-height: 10px !important;
		padding-right: 10px;
	}
}
.container-header.review-header {
	width: 97.5%;
	text-transform: uppercase;
	float: left;
	background-color: #f5f9ff;
	box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.1);
	padding: 10px;
	position: relative;
	span {
		text-transform: uppercase;
		line-height: 27px;
		color: #5267ff;
		font-family: medium;
	}
	.button-share {
		height: 28px;
		border-radius: 5px;
		background-color: #f9fbfc;
		border: solid 1px #d9e6ec;
		margin-left: 15px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		color: #5267ff;
		font-size: 14px;
		float: right;
		padding: 0px 15px;
		text-transform: capitalize;
		cursor: pointer;
	}
}

.container-header.all-form-detail {
	border: solid 1px #eaecef;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-transform: uppercase;
	float: left;
	background-color: #fcfdfd;
	text-indent: 1.5rem;
	margin-bottom: 0px;
	margin-top: 20px;
	span {
		text-transform: capitalize;
		font-size: 14px;
	}
	.review-edit-btn {
		float: right;
		color: #5267ff;
		cursor: pointer;
		text-transform: capitalize;
		text-indent: 0;
		margin-right: 2em;
		font-family: medium;
	}
}


/***popup css****/

.Review-popup.action-overlay .action-share {
	width: 40em;
	background-color: $white;
	border: solid 1px $blue;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease;
}

.Review-popup.action-overlay .action-share .close {
	position: absolute;
	right: -1em;
	top: -1em;
	width: 30px;
	cursor: pointer;
}

.Review-popup.action-overlay .action-share h6.head {
	font-family: regular;
	text-align: center;
	text-transform: uppercase;
	margin: 3em 0;
	margin-bottom: 2em;
}

.Review-popup.action-overlay .action-share h6.head span {
	font-size: 1.2rem;
}

.Review-popup.action-overlay .action-share p.desc {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.4rem;
}

.Review-popup.action-overlay .action-share div.container-addresses {
	width: 100%;
	margin: 0 auto;
	margin-top: 2em;
	float: left;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address {
	margin-left: 11.4em;
	margin-bottom: 1em;
	display: block;
	float: left;
	position: relative;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .selector {
	width: 1rem;
	height: 1rem;
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .selector span {
	width: 1rem;
	height: 1rem;
	display: block;
	border-radius: 2px;
	cursor: pointer;
	background-color: #5267ff;
	float: left;
	position: relative;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .selector span::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: all 0.3s;
	width: calc(1rem - 4px);
	height: calc(1rem - 4px);
	background-color: $white;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .selector span.selected {
	background-image: url(../images/check.png);
	background-size: 1rem;
	background-position: center;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .selector span.selected::after {
	width: 0px;
	height: 0px;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .id {
	color: #5267ff;
	display: block;
	margin-left: 2rem;
	line-height: 1.2rem;
	float: left;
	width: 16.5em;
	padding: 0;
	border: none;
	outline: none;
	border-bottom: solid 1px #5267ff;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .error {
	position: absolute;
	left: 2em;
	bottom: calc(-1.23em - 5px);
	opacity: 0;
	transition: all 200ms ease;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .error span {
	font-size: 0.8rem;
	color: #5267ff;
}

.Review-popup.action-overlay .action-share div.container-addresses div.container-address .error.active {
	opacity: 1;
	bottom: -1.23em;
}

.Review-popup.action-overlay .action-share div.send {
	font-size: 1rem;
	margin-top: 1em;
	cursor: pointer;
	display: table;
	display: block;
	margin: 0 auto;
	width: 5rem;
	padding-top: 8em;
	padding-bottom: 2em;
}

.Review-popup.action-overlay .action-share div.send a {
	color: #5267ff;
	position: relative;
	z-index: 2;
	user-select: none;
}

.Review-popup.action-overlay .action-share div.send a span {
	width: 1.4em;
	height: 1.4em;
	font-size: 1.2rem;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: $blue;
	border-radius: 50%;
	right: -2.5em;
}

.Review-popup.action-overlay .action-share div.send a span label {
	width: 0;
	height: 0;
	border-top: 0.4em solid transparent;
	border-bottom: 0.4em solid transparent;
	border-left: 0.4em solid $white;
	position: absolute;
	top: 0.35em;
	left: 0.6em;
}

.Review-popup.action-overlay .action-share div.send a:not(span) {
	font-size: 1.4rem;
}

.Review-popup.action-overlay .action-share div.send a:hover span {
	background-color: $blue;
}

.Review-popup.action-overlay .action-share div.send a {
	text-transform: uppercase;
}

.Review-popup.action-overlay .action-share div.send a span label {
	border-top: 0.35em solid transparent;
	border-bottom: 0.35em solid transparent;
	border-left: 0.35em solid $white;
	top: 0.35em !important;
	left: 0.5em;
}

.Review-popup.action-overlay .action-share div.send.disable {
	pointer-events: none;
}

.Review-popup.action-overlay .action-share div.send.disable a {
	color: #d6d6d6;
}

.Review-popup.action-overlay .action-share div.send.disable a span {
	background-color: #d6d6d6 !important;
}

.Review-popup.action-overlay .action-share.active {
	opacity: 1;
	pointer-events: all;
}

.Review-popup.action-overlay.active {
	opacity: 1;
	top: 0;
	pointer-events: all;
}

.action.sort .Select {
	width: 100%;
	float: left;
	height: calc(2em - 2px);
	margin: 0;
}

.Review-popup.action-overlay {
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 0;
	top: 10px;
	z-index: 9;
	transition: all 300ms ease;
}


/*****review error popup***/
.container-popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease;
	.popup {
		width: 40rem;
		background-color: $white;
		border: solid 1px $blue;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 10px;
		opacity: 0;
		transition: all 300ms ease;
		.close {
			width: 15px;
			position: absolute;
			right: 10px;
			top:10px;
			cursor: pointer;
			z-index: 1;
		}
		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.3rem;
			margin-top: 2rem;
			color: #5267ff;
		}
		p {
			text-align: center;
			width: 76%;
			margin: 0 auto;
			margin-top: 1.5rem;
			font-size: 1rem;
			line-height: 1.4rem;
		}
		.container-buttons {
			display: table;
			margin: 0 auto;
			margin-top: 2rem;
			margin-bottom: 2.3rem;
		}
		.container-buttons .button {
			min-width: 3rem;
			padding: 0 1.5rem;
			height: 2.2rem;
			background-color: $blue;
			text-align: center;
			text-transform: uppercase;
			line-height: 2.2rem;
			color: $white;
			float: left;
			margin-right: 2rem;
			cursor: pointer;
		}
		.button:last-child {
			margin-right: 0;
		}
	}
}
.container-popup.active {
	opacity: 1;
	pointer-events: all;
	.popup {
		margin-top: 0;
		opacity: 1;
	}
}
.container-popup.popup-declaration .popup {
	width: 50rem;
	.wrapper-content {
		height: 32rem;
		margin: 1.5rem 0;
	}
	.wrapper-content p {
		margin-top: 0;
		width: 90%;
		text-align: left;
	}
}
/***notifier popup***/
.container-notifications {
	width: 160px;
	position: fixed;
	right: 0.8em;
	bottom: 80px;
	margin-bottom: -10px;
	background-color: $white;
	box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	transition: margin-bottom 300ms ease, opacity 300ms ease;
	img.close {
		width: 15px;
		display: block;
		position: absolute;
		right: 10px;
		cursor: pointer;
		top:10px;
	}
	.container-icon {
		position: relative;
		height: 3.5em;
		width: 100%;
		margin-top: 1.5em;
	}
	.container-icon img {
		position: absolute;
		display: none;
		height: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.container-icon img.active {
		display: block;
	}
	p.msg {
		display: none;
		width: 86%;
		margin: 1em auto;
		text-align: center;
		color: #616161;
		font-size: 0.9rem;
		line-height: 1.2rem;
	}
	p.msg.active {
		display: block;
	}
}

.container-notifications.active {
	margin-bottom: 0;
	opacity: 1;
	pointer-events: all;
	z-index: 9999999;
}
.btn-view-summary {
    background-color: #dcdcdc;
    pointer-events: none;
    border: none;
    color: $white;
    text-align: center;
    outline: none;
    font-size: 1.3rem;
    padding: 0 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease;
    position: fixed;
    bottom: 25px;
    right: 75px;
    z-index: 99999999999;
    height: 3.3rem;
    border-radius: 6px;
    color: $purple;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 2.5rem;
    width: 224px;
    font-size: 1.1rem;
    font-family: medium;
    text-align: center;
}
a.btn-view-summary{
	padding: 7px 79px;
    height: 2.5rem;
    width: auto;
    font-size: 1.1rem;
    font-family: medium;
    text-transform: capitalize;
    line-height: 23px;
    color: red;
}
.btn-view-summary.enable {
	background-color: #00ffc8;
	pointer-events: all; 
	padding: 5px 50px;
	color: #263096;
	width: auto;
}
.container-buttons .continue.disable-review {
	pointer-events: all;
}

.continue.disable-review a.buy_continue_btn  {
	pointer-events: none;
}

.continue.disable-review::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-top: 0.7em solid #70b865;
	position: absolute;
	bottom: -0.5em;
	left: 0;
	right: 0;
	top: -0.7rem;
	margin: 0 auto;
	z-index: 6;
	box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease;
}

.continue.disable-review::after {
	content: 'Accept terms and conditions to continue.';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #00ffc8;
    height: 2.5rem;
    line-height: 2.5rem;
    top: -4rem;
    width: 30rem;
    text-align: center;
    border-radius: 5px;
    color: $purple;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
}

.continue.disable-review:hover::after {
	opacity: 1;
}
label.continuebtn-arrow{
	position: absolute; 
	right: 10px;
}
label.backbtn-arrow{
	position: absolute; 
	left: 10px;
}
 /* css by sudhir 08-09-91 */
/*.container-nav{ display:none;}*/
section.buy-policy{min-height: 42em;}
.container-field.field-radio-medicalHistory .renderDiseasesTypeB .container-checks .container-check {
   width: 100%; float: none;
}
.container-field.field-radio-medicalHistory .renderDiseasesTypeB .container-check .wrapper-additional-info .wrapper-field .container-field {width: 47%;}
.container-field.field-radio-medicalHistory .renderDiseasesTypeB .container-check .wrapper-additional-info {
    border-radius: 6px;
    background-color: #fcfdfd;
    border: solid 1px #eaf2f5;
    padding: 6px 0px 6px 20px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}
.container-field.field-radio-medicalHistory .renderDiseasesTypeB .container-check .wrapper-additional-info:empty {
    display:none;
}
.container-field.field-radio-medicalHistory .renderDiseasesTypeB .container-check .wrapper-additional-info .wrapper-field .container-field label {
	width: 100%;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.renderDiseasesTypeB .input-render-field select, 
.renderDiseasesTypeB .field-datepicker select { font-size:14px; background-color: transparent;}
.container-member .wrapper-member .member-name span{ text-transform:capitalize;}
.customerDetailsForms .head h3{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: #96a9b3;
}
.borderBtmNone{ border-bottom:none !important;  height: auto !important;  margin-bottom: 0px !important;}
.pLR5{ padding-left: 5px !important; padding-right:5px !important;}
.selectDateFields{text-align: center;}
.selectDateFields .col-sm-3{ float: none; display: inline-block; text-align: left}
.selectDateFields .col-sm-3:first-child{ float: left;}
.selectDateFields .col-sm-3:last-child{ float: right;}
.customDropDown{
    height: 3rem;
    position: relative;
    border-bottom: solid 1px #d9e6ec;
	margin-bottom: 30px !important;	
}
.customerDetailsForms .input-render-field label.dateLabel{top: 0;}

.add_info { margin-bottom: 7px; }
.container-member-details .renderDiseasesTypeC .container-additional-info .wrapper-additional-info {
	.container-field {
		margin-bottom: 20px !important;
		select{
		background-color: transparent;
		}
	}
	.wrapper-field {
		margin: 5px 0px;
		display: flex;
		flex-direction: column-reverse;
		.wrapper-member .member-name{
			margin-top: 7px;
			margin-bottom: 5px;
		}
	}

}

/*Insurance health, car, bike, travel screen*/
.insuranceBanner{
	.container {
		left:50%; width:100%;
		@media only screen and (min-width: 1001px) {
			transform: translateX(-50%) translateY(-50%) !important;
		}		
		h1.head {
			color: #252736;
			text-align: center;
		}
		h6.desc {
			margin-top: 6px;
			text-align: center;
		}
		form {margin: 20px auto;}
	}
}
.blueFooterSec {
	background-color: $blue;
	min-height: 20em;
	.wrapper {
		margin: 6rem auto;
		display: table;
	}
	p {
		color: $white;
		font-size: 16px;
		line-height:26px;
		text-align: center;
	}
}
.footerBlue{
	background-color: $blue;
	margin: 0;
	min-height: 3em;	
	.wrapper{ 
		font-size: 12px;
		text-align: center;	
		min-height: 3em;	
		a{ color: $white; padding: 10px 15px;}

	}
}
.insurenceNav{ 
	border-bottom: 1px solid #f2f7f9;
	ul.links{
		li a{ color: $copy-lighter;}
		li a:hover, li a:focus, li.active a{ color: $blue;}
	}
}

.quesAnsDisease{
	.wrapper-additional-info{ padding-bottom: 15px !important;
		.wrapper-member{
			p {
				font-family: medium;
				font-size: 16px;
				color: $blue;
				margin-top: 1.5rem;
				margin-bottom: 0.7rem;
			}
		}
		.wrapper-field{
			.container-field{
				.wrapper-field{
					p.descriptor{
						color: $copy-light;
						line-height: 1.4rem;
					}
				}
			}
		}
	}
}

/*end*/

/*Payment screen css*/
.stage-postPayment{
	padding-bottom: 10em;
	h1{
		font-size: 1.4rem;
		line-height: 2rem;
		font-family: medium;
		padding-bottom: 10px;
	}
	h6{font-size: 14px;	padding-bottom: 5px;}
	div.msg {margin-top: 2rem;}
	div.container-purchase-details {
		width: 100%;
		box-sizing: border-box;
		border: solid 1px #39c2d7;
		margin-top: 2rem;
		min-height: 2rem;
		float: left;
		position: relative;
		display: table;
		background-color: #39c2d7;
		.nav-results {
			display: table-cell;
			.container-groups {
				width: 100%;
				height: 100%;
				.wrapper-members {
					display: block;
					height: 3em;
					background-color: #FFF;
					padding: 0.7em 1.2em;
					margin: 1em 1.5em;
					border-radius: 1em;
					margin-bottom: 0;
					cursor: pointer;
					.icon-member {
						width: 3em;
						height: 3em;
						border-radius: 50%;
						background-color: #FFF;
						border: solid 1px #39c2d7;
						float: left;
						margin: 0 0.3em;
						background-repeat: no-repeat;
						background-position: center 0.5em;
						background-size: 2.5em;
						background-color: #39c2d7;
						transition: all 0.2s;
						cursor: pointer;
						box-sizing: border-box;
					}
					.icon-member.member-father {background-image: url(../images/father.png);}
					.icon-member.member-mother {background-image: url(../images/mother.png);}	
					.icon-member.member-husband {background-image: url(../images/husband.png); }
					.icon-member.member-wife {background-image: url(../images/wife.png);}
					.icon-member.member-son {background-image: url(../images/son.png);}
					.icon-member.member-daughter {background-image: url(../images/daughter.png);}
					.icon-member:nth-child(5), .icon-member:nth-child(6) {display: none; }				
				}
				.group-text {
					margin-top: 0.5rem;
					margin-bottom: 0.3rem;
					position: relative;
					left: 1.5em;
					width: calc(100% - 3em);
					overflow: hidden;
					display: inline-block;
					color: rgba(15, 29, 66, 0.89);
					cursor: pointer;
					transition: all 0.2s;
					.members {
						display: inline-block;
						width: 100%;
						cursor: pointer;
						div {
							font-size: 0.9em;
							line-height: 1.2em;
							font-family: regular;
							text-align: center;
							cursor: pointer;
						}
					}
				}
				.container-group.disable {display: none;}
			}
			.container-group.selected {
				background-color: #39c2d7;
			.group-text {
					color: #FFF;
				}
			}
			.button-redirect{display: none;}
		}
		.nav-policy-details {
			display: table-cell;
			width: 100%;
			height: 100%;
			background-color: #FFF;	
		> .wrapper {
			float: left;
			height: 100%;
			width: 100%;
			height: 7.5rem;	
			 > div {
				height: 100%;
				float: left;
				width: calc((100% - 15rem) / 4);
				> .wrapper {
					position: absolute;
					top: 50%;
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					position: relative;
					padding: 0 2rem;
					 > label {
						display: block;
						color: #e62543;
						text-transform: uppercase;
						text-align: center;
						white-space: nowrap;
					}
					> span {
						text-align: center;
						display: block;
						white-space: nowrap;
						margin-top: 0.3rem;
					}
				}
			}
			> div.logo-name {
				border-right: solid 1px #39c2d7;
				box-sizing: border-box;
				width: 14rem;
				> div {
					width: 10rem;
					text-align: center;
					text-transform: uppercase;
					line-height: 1.4rem;
					font-size: 0.9rem;
				}
				img {
					width: 10rem;
					display: block;
					margin: 0 auto;
					margin-top: -0.6rem;
				}
			}
			> div.amount {
				box-sizing: border-box;
				border-left: solid 1px #39c2d7;
				width: calc((100% - 16rem) / 4.3);
				float: right;
			}
		}
	}
	 .button-redirect{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
		display: none;
    }

	}
}
.stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper{
	display: flex;
}

div.container-banner {
    width: 100%;
	margin: 2rem 0;
	float: left;
	img {
		display: block;
		width: 30rem;
		margin: 0 auto;
	}
}

.stage-postPayment div.container-purchase-details .nav-results .container-group.selected{
	background: #5267ff;
	float: left;
}

.stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div > .wrapper{
	padding: 0;
}

.stage-postPayment div.container-purchase-details,.stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.amount, .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.logo-name{
	border-color: #5267ff;
}

.stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.logo-name{
	width:12rem;
}

.stage-postPayment h1{
	color: #5267ff;
}

.stage-postPayment h1.FAILED{
	color: #e62543;
}

.customerDetailsForms.postPaymentPage{
	width: 80%;
}

.stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div {
    width: calc((100% - 12rem) / 4);
}

.stage-postPayment  div.container-banner img{
	width: 25rem;
}
.hawLoe.active{
	z-index: 9;
}

html body .container-react section.notPostPaymentPage .wrapper{
	display: flex;
	justify-content: flex-end;
}
html body .container-react section.notPostPaymentPage .wrapper .wrapper, html body .container-react section.notPostPaymentPage .wrapper.linkEnableStages{
	display: table;
}
.notPostPaymentPage .customerDetailsForms .input-render-field img{
	position: absolute;
    width: 1.4rem;
    right: 1.5rem;
	bottom: 0.8rem;
	opacity: 0;
}

.notPostPaymentPage .customerDetailsForms .input-render-field.loading img{
	opacity: 1;
}

/*end*/

@media  (min-width: 768px) and (max-width: 1199px) {
.container-policy-details .container-policy{width: 84% !important;}
.container-field.field-radio-medicalHistory .question-text {width: calc(100% - 40px);}
.container-field.field-radio-medicalHistory .question {min-width: 40px;}

}

@media only screen and (max-width: 991px) {
nav .wrapper.linkEnableStages{ text-align:center;
.done:before{font-size: 10px; line-height: 13px;}
}
nav .wrapper.linkEnableStages>div{ 
	font-size:0; 
	padding-left: 0rem; 
	float:none; 
	display:inline-block;
	:last-child{margin-right: 0rem;}
}
.container-policy-details {height: auto !important;}
/* .buy-policy .wrapper{margin-top: 2rem !important;} */
.container-member-details .container-additional-info .wrapper-additional-info {max-width: calc(100% - 60px);}
.customerDetailsForms.postPaymentPage{width: 100%;}
.buy_continue_btn.disable{padding: 5px 50px;}
.btn-view-summary.enable{bottom: 24px;right: 10px;}
}

@media only screen and (max-width: 800px) {
	.btn-view-summary.enable{bottom: 21px;right: 10px;}
}

@media only screen and (max-width: 767px) {
.wrapper .container-nav {
  /* box-shadow: none; */
  border-top: none;
  height: auto !important;
	.wrapper{
		width: 100% !important; 
		background: $white;		
	.note, .container-buttons { 
		position:initial;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);   
		padding: 10px 20px;
		line-height: 18px;
	}
	.note br{ display: none;}
	 .container-buttons{
		box-shadow: 0 -4px 8px 0 rgba(101, 116, 124, 0.05);
		border-top: solid 1px #d9e6ec;
		padding: 20px;
		text-align: center;
		.forms_back_btn, .buy_continue_btn{
			padding: 12px 20px;
			width: 47%;
			display: inline-block;
			height: auto;
			font-size: 16px;
			font-weight: normal;
			font-family: inherit;
		}
	 }
	} 
}
.btn-view-summary.enable{
	padding: 12px 20px;
	width:40%;
	display: inline-block;
	height: auto;
	font-size: 16px;
	font-weight: normal;
	font-family: inherit;
	bottom: 19px;
	right: 25px;
}
.buy-policy nav{
    background-color: transparent;
    box-shadow: none;
    height: auto;	
	.wrapper.linkEnableStages {
		background-color: #fcfdfd;
		box-shadow: 0 1px 2px 0 rgba(101, 116, 124, 0.1);
		margin: 11px -20px;
		display: inline-block;
		width: calc(100% + 40px);
		border-top: 2px solid #f2f7f9;
	}
	.wrapper.linkEnableStages div:last-child {margin-right: 0rem;}
}
.mobilePolicyDetails{
	position:relative !important;
	.container-policy-details{
		 width:100%  !important;
		.container-policy{
			position:inherit !important;
			top:0 !important;
			transform: translateY(0%) !important;
			-webkit-transform: translateY(0%) !important;
			-ms-transform: translateY(0%) !important;
			width:100%  !important;
			padding:0;
			border:none;
			box-shadow:none;
				.policy{
					border-top: none;
					margin-top: 0; padding-bottom: 5px;
					p{
						margin: 0;
						height: 46px;
						display: table-cell;
						vertical-align: middle;
					}
					.secRow .col-xs-6{padding-right: 0;}			
			}
			.responsive_logo{ max-width: 100% !important; margin-top: 0 !important;}
		}
	}
}
.container-field.field-radio-medicalHistory .wrapper-radio .container-radio {margin-left: 5px;}
.container-field.field-radio-medicalHistory .question-text {width: calc(100% - 40px); line-height: 20px;}
.container-field.field-radio-medicalHistory .question {min-width: 40px;}
.container-field.field-radio-medicalHistory .container-checks .container-check {
    margin-bottom: 0px;
	margin-top: 6px;
	width: 100%;
}
/*nav {z-index: 999 !important;}*/

section.insuranceBanner {
    margin-top: 5.5rem !important;
	max-height: inherit !important;
	height: auto !important;
	.wrapper{max-height: inherit !important;}
	.container {
		position: inherit !important;
		top: 0% !important;
		transform: translateY(0%) !important;
		padding: 15px 0 30px 0;
	}
}
.footerBlue .wrapper a {display: inline-block;}
.blueFooterSec p {
    font-size: 14px;
    line-height: 22px;
}
.Review-popup.action-overlay .action-share {
    width: 94%; max-width:340px;
	position: inherit !important;
	top: 74px !important;
	transform: translateY(0%) !important;
	div.container-addresses div.container-address {margin-left: 52px;}
}

}
/* end */

.PaymentStatus{
	display: block;
	float: left;
	width: 100%;
	padding: 15px 20px 0;
	border-left: 1px solid #eaecef;
	font-weight: 700;
}
.PaymentStatus .successPayment{
	color: green;
}
.PaymentStatus .successFalse{
	color: red;
}
.PaymentStatus .checkPayment{
	animation: blinkPaymentStatus 1s ease-in-out infinite;
}
@keyframes blinkPaymentStatus{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}

/*Review Page popup*/

.container-popup.popup-declaration.reviewPagePopup{
 .popup {
    width: 100%;
    max-width: 900px;
    top: 80px;    
	transform: translateY(0%);
	position: relative;
	.fixedTitleClose{
		border-bottom: 1px solid #ddd;
		h3{	margin: 0; padding: 12px 0 10px 0;}
	}
	.wrapper-content {
		height: calc(100vh - 258px);
		margin: 0;
		overflow: auto;
		padding: 15px 20px;
		p{width: auto;}
	}
 }

}

@media only screen and (max-width: 767px) {
	.container-popup .popup {
		width: 99%;
	}
	.container-popup.popup-declaration.reviewPagePopup .popup {
		width: calc(100% - 2px); top: 54px;
		.wrapper-content {height: calc(100vh - 266px);}
		.fixedTitleClose{
			h3{ font-size: 16px;}
		}
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details{
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #5267ff;
		justify-content: center;
	}
}

@media only screen and (max-width: 480px) {
.container-field.field-radio-medicalHistory .container-question {
	width: 100%; margin-top: 0px;
}
.container-field.field-radio-medicalHistory .medicalHistoryBlueRadioButtons {
    float: left;
    width: 200px;
    text-align: left;
    padding-left: 32px;
}
.container-field.field-radio-medicalHistory .wrapper-radio .container-radio {margin-left: 10px;}
.container-field.field-radio-medicalHistory .wrapper-level-1 {margin-top: 15px; width: auto;}

}

@media only screen and (max-width: 650px) {
	nav {
		box-shadow: 0 6px 8px 0 rgba(150, 169, 179, 0.1);
	}
	nav.scrolled {
		border: none;		
	}
	section.banner .container {
		z-index: 99;
	}
	section.banner .container form .dropdown {
		background: $white;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper{
		// flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		line-height: inherit;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.logo-name, .customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.amount{
		width: 100%;
		height: auto;
		border: 0;
		line-height: inherit;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div{
		width: calc(100% / 3 - 3px);
		height: auto;
		border-top: 1px solid #5267ff;
		border-bottom: 1px solid #5267ff;
		border-left: 1px solid #5267ff;
		line-height: inherit;
		padding: 10px 0px;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.duration{
		border-left: 0;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div.logo-name img{
		margin: 0;
	}
	.customerDetailsForms.postPaymentPage .stage-postPayment div.container-purchase-details .nav-policy-details > .wrapper > div > .wrapper{
		transform: translateY(0%);
	}
	.stage-postPayment div.container-banner img {
		width: 20rem;
	}
}

@media (min-width: 768px) and (max-width: 1064px) {
.customerDetailsForms .input-render-field, .field-datepicker {
    width: 88%;
}

}


@media only screen and (max-width: 400px) {	
.note, .container-buttons { padding: 10px 10px !important;}
.btn-view-summary.enable{bottom: 9px;right: 15px;width: 42%;}
.container-notifications{bottom: 65px;}
}