@import './common.scss';
@import './flickity.scss';

h1.head {
	color:$copy-dark;
	text-align: center;
	font-family: medium;

	br {
		display:none;
	}

	&.big {
		font-size: 4rem;
		text-align: left;

		br {
			display:block;
		}	
	}

	@media only screen and (max-width: 650px) {
		br {
			display:block;
		}

		&.big {
			font-size: 36px !important;
			line-height: 40px !important;
		}
	}

	@media only screen and (max-width: 430px) {
		&.big {
			font-size: 30px !important;
    		line-height: 35px !important;

			br {
				display:none;
			}
		}
	}
}

h6.desc {
	color:$copy-light;
	text-align:left;
	font-size: 14px;
	line-height: 26px;

	@media only screen and (max-width: 650px) {
		font-size: 12px;
		line-height: 18px;
	}
}

.wrapper {
	position:relative;
	margin: 0 auto;
	max-width: 1200px;
	height:100%;
	min-height:4rem;
	box-sizing: border-box;
}

.full-width {
	max-width:none;

	@media only screen and (min-width: 1400px) {
		width: calc(100% + 20rem);
		margin-left: -10rem;

		.wrapper {
			width: calc(100% - 20rem);
		}
	}

	@media only screen and (max-width: 1400px) {
		width: calc(100% + 10rem);
		margin-left: -5rem;

		.wrapper {
			width: calc(100% - 10rem);
		}
	}

	@media only screen and (max-width: 1200px) {
		width: calc(100% + 40px);
		margin-left: -20px;

		.wrapper {
			width: calc(100% - 40px);
		}
	}

	@media only screen and (max-width: 400px) {
		width: calc(100% + 20px);
		margin-left: -10px;

		.wrapper {
			width: calc(100% - 20px);
		}
	}
}

.dropdown {
	border:solid 1px $dropdown-seperator;
	width:10rem;
	line-height: 4rem;
	float:left;
	position:relative;
	box-sizing: border-box;
	cursor:pointer;
	-webkit-tap-highlight-color: transparent;

	label {
		font-size:1.1rem;
		color:$copy-lighter;
		text-indent: 1.3rem;
		display: block;
		cursor:pointer;
		user-select: none;
		text-transform:capitalize;
		pointer-events: none;
		-webkit-tap-highlight-color: transparent;

		&::after {
			content:'';
			width:100%;
			height:2px;
			position:absolute;
			background-color:$red;
			left:0;
			top: calc(100% - 1px);
			transition:opacity 100ms ease;
			opacity:0;
		}
	}

	.pointer {
		width: 0; 
		height: 0; 
		border-left:0.4rem solid transparent;
		border-right:0.4rem solid transparent;
		border-top:0.4rem solid $copy-lighter;
		position:absolute;
		@include vertical-center();
		right:1rem;
	}

	.list {
		width:calc(100% + 1px);
		max-height: 15rem;
		overflow: hidden;
		position:absolute;
		top: calc(4rem - 1px);
		list-style-type: none;
		box-shadow: $shadow;
		background:#FFF;
		border:solid 1px $dropdown-seperator;
		border-top:solid 2px $purple;
		box-sizing: border-box;
		border-radius: 0 0 6px 6px;
		opacity:0;
		pointer-events: none;

		li {
			min-height: 2.5rem;
			color:$copy-light;
			transition: all 100ms ease;
			cursor:pointer;
			text-transform: capitalize;
			float:left;
			width:100%;

			&:hover {
				background-color:$dd-hover;
				color:$blue;
			}
			
			&.hide {
				display:none;
			}

			span {
				display:block;
				padding-left: 1.3rem;
				padding-right: 0.5rem;
				box-sizing: border-box;
				width:100%;
				line-height: 1.4rem;
				margin: 0.57rem 0;
				pointer-events:none;
			}
		}

		.ps__rail-y {
			left: auto !important;
			right:0 !important;
		}
	}

	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		outline: none;
		border: none;
		color:$blue;
		text-indent:1.3rem;
		text-transform: capitalize;
		font-size:1.1rem;
		background:transparent;
		opacity:0;
		pointer-events:none;

		&::placeholder {
			color:$blue;
			text-indent:1.3rem;
			font-size:1.1rem;
		}
	}

	&.open {
		label {
			color:$blue;
		}

		.list {
			opacity:1;
			pointer-events: all;
		}

		.pointer {
			transform: rotate(180deg);
			top: 45%;
			color:$copy-dark;
		}
	}

	&.searchable {
		&.open {
			label {
				opacity:0;
			}

			input {
				opacity:1;
				pointer-events:all;
			}
		}
	}

	&.selected {
		label {
			color:$blue;
		}
	}

	&::after {
		content:'';
		width:100%;
		height:2rem;
		line-height:2rem;
		background-color:$tooltip;
		position:absolute;
		bottom: -2.7rem;
		border-radius:3px;
		color:#fff;
		text-align:center;
		font-size:0.8rem;
		transition:opacity 100ms ease;
		opacity:0;
		pointer-events: none;
	}

	&::before {
		content:'';
		width: 0; 
		height: 0; 
		border-left: 0.5rem solid transparent;
		border-right: 0.5rem solid transparent;
		border-bottom: 0.5rem solid $tooltip;
		position:absolute;
		left:0;
		right:0;
		margin:0 auto;
		bottom:-0.8rem;
		transition:opacity 100ms ease;
		opacity:0;
		pointer-events: none;
	}

	&.error {
		&::after, &::before {
			opacity:1;
		}

		label {
			&::after {
				opacity:1;
			}
		}
	}

	@media only screen and (max-width: 1100px) {
		line-height: 4rem;

		label, input, input::placeholder {
			font-size:16px;
		}

		.list {
			top: calc(4rem - 1px);
			
			li {
				min-height: 3rem;
				font-size: 14px;

				span {
					margin: 12px 0;
					line-height: 22px;
				}
			}
		}

		&::after {
			bottom: -35px;
			width: 175px;
			height: 26px;
			line-height: 26px;
			font-size: 12px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
}

button.action {
	background-color:$green;
	color:$purple;
	border:none;
	box-sizing: border-box;
	line-height: 3.3rem;
	border:solid 1px $green;
	padding:0 1.5rem;
	font-family: medium;
	font-size: 16px;
	cursor:pointer;
	outline:none;

	@media only screen and (max-width: 650px) {
		font-size: 1.2rem;
	}
}

nav {
	width:100%;
	height:5.5rem;
	background: #FFF;
	box-sizing:border-box;
	position:fixed;
	top:0;
	left:0;
	z-index: 20;
	border-bottom:solid 2px transparent;
	transition: height 300ms ease, border 150ms ease;

	.logo {
		font-family: logo;
		width:11.5rem;
		height:100%;
		float:left;
		background-image: url(../images/logo.png);
		background-size:100% auto;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 300ms ease;
	}

	.links {
		list-style-type: none;
		height:100%;
		margin:0 2rem;

		li {
			float:left;
			line-height: 5.5rem;
			margin:0 1.5rem;
			position:relative;
			color:#96a9b3;
			transition:all 300ms ease;
			cursor:pointer;

			&:after {
				content:'';
				position:absolute;
				width:100%;
				height:2px;
				background-color: $blue;
				left:0;
				bottom:0;
				transition:all 300ms ease;
				opacity:0;
			}

			&.active, &:hover {
				color:$blue;

				&:after {
					opacity:1;
				}
			}

			&.button {
				color:$blue;
				border:solid 1px $blue;
				line-height: 2rem;
				margin-top: 1.6rem;
				padding: 0 1.5rem;
				border-radius: 4px;
			}
		}

		&.left {
			float:left;
		}

		&.right {
			float:right;
			margin:0;

			li {
				&:after {
					display:none;
				}

				&:last-child {
					margin-right:0;
				}
			}
		}
	}

	.hamburger {
		width: 19px;
		cursor:pointer;
		@include vertical-center();
		right:16px;
		display:none;

		span {
			width:100%;
			height:2px;
			display:block;
			background-color:$purple;
			margin-top:4px;

			&:first-child {
				margin:0;
			}
		}
	}

	.nav-mobile {
		position:fixed;
		left:0;
		width:100%;
		height:100%;
		background: #00f3bf;
		display:none;
		top:5px;
		opacity:0;
		pointer-events:none;
		transition:all 300ms ease;

		.container {
			width:calc(100% - 50px);
			@include absolute-center();

			ul {
				list-style:none;

				li {
					text-align:center;
					font-size:22px;
					color:#262f96;
					line-height:64px;
					font-family:medium;
					border-bottom: solid 1px  #7adac694;

					&:last-child {
						border:none;
					}
				}
			}

			.more-links {
				margin-top: 4.5rem;

				a {
					color:#262f96;
					text-align:center;
					font-size:16px;
					display: block;

					&:first-child {
						margin-bottom: 1rem;
					}
				}
			}

			button {
				background-color: #ffffff;
				box-shadow: 0 4px 8px 0 rgba(108, 191, 210, 0.3);
				width: 240px;
				height: 44px;
				line-height: 44px;
				border-radius: 5px;
				font-size:18px;
				color:#5267ff;
				padding:0;
				margin:0 auto;
				display: block;
				margin-top: 3rem;
			}

			.social-links {
				display: table;
				margin: 0 auto;
				margin-top: 3rem;

				a {
					width: 24px;
					height: 24px;
					margin-right:13px;
					float:left;
					cursor:pointer;
					@include background-image();

					&.tw {
						background-image: url(../images/twitter.png);
					}

					&.fb {
						background-image: url(../images/facebook.png);
					}

					&.in {
						background-image: url(../images/linkedin.png);
						margin-right:0;
					}
				}
			}
		}

		.close {
			color: #FFF;
			font-size: 40px;
			position: absolute;
			top: 3px;
			right: 12px;
			cursor:pointer;
		}

		&.active {
			top:0;
			opacity:1;
			pointer-events:all;
		}
	}

	&.scrolled {
		border-color: #f2f7f9;
		height:4.5rem;

		.logo {
			width:10rem;
		}

		.links {
			li {
				line-height:4.5rem;

				&.button {
					line-height: 2rem;
					margin-top: 1.2rem;
				}
			}
		}
	}

	@media only screen and (min-width: 1400px) {
		padding:0 10rem;
	}

	@media only screen and (max-width: 1400px) {
		padding:0 5rem;
	}

	@media only screen and (max-width: 1200px) {
		padding:0 20px;
	}

	@media only screen and (max-width: 400px) {
		padding:0 10px;
	}

	@media only screen and (max-width: 650px) {

		.links {
			display:none;
		}

		.hamburger, .nav-mobile {
			display:block;
		}
	}
}

footer {
	margin-bottom:2.5rem;

	.links {
		width: 40%;
		float:left;
		margin-top: 4rem;
		padding-bottom: 3rem;

		.col {
			width: 50%;
			float:left;

			label {
				color:#070c4e;
				font-size:12px;
				line-height:18px;
				font-family:medium;
				display:block;
				margin-bottom: 16px;
			}

			a {
				display:block;
				font-size:12px;
				line-height:18px;
				color:#65747c;
				margin-bottom: 6px;			

				&.high {
					line-height: 23px;
				}

				&.low {
					margin-bottom: 3px;
				}

				&.social {
					width: 24px;
					height: 24px;
					margin-right:13px;
					float:left;
					cursor:pointer;
					@include background-image();

					&.tw {
						background-image: url(../images/twitter.png);
					}

					&.fb {
						background-image: url(../images/facebook.png);
					}

					&.in {
						background-image: url(../images/linkedin.png);
					}
				}
			}
		}
	}

	.irda {
		color:#96a9b3;
		font-size:11px;
		line-height: 20px;
		border-top:solid 1px #f2f7f9;
		border-bottom:solid 1px #f2f7f9;
		width:100%;
		float:left;
		padding: 1.3rem 0;
	}

	.copy {
		color:#96a9b3;
		font-size:11px;
		line-height: 20px;
		width:100%;
		float:left;
		margin-top:1.3rem;
	}

	@media only screen and (max-width: 1000px) {
		.links {
			width:100%;
			
			.col {
				width:50%;
			}

			&:first-child {
				border:none;
			}

			&:nth-child(2) {
				margin-top: -1rem;
			}
		}
	}
}

section.banner {
	width:100%;
	height: calc(100vh - 5.5rem);
	margin-top:4.5rem;
	max-height: 45rem;

	.container {
		@include vertical-center();
	}

	h1.head {
		margin-bottom: 0.4rem;
		color:#070c4e;
	}

	form {
		display: table;
		margin-top: 2rem;
		border-radius:6px;
		box-shadow: 0 6px 8px 0 rgba(150, 169, 179, 0.05);

		.dropdown {
			&.gender {
				width: 11.5rem;
				border-radius: 6px 0 0 6px;

				&::after {
					content:'Please select gender'
				}
			}

			&.city {
				border-left:none;
				width: 19.5rem;

				&::after {
					content:'Please select city'
				}
			}
		}

		button {
			font-size:16px;
			padding: 0 2rem;
			line-height: 4rem;
			border-radius: 0 6px 6px 0;
			outline:none;
		}
	}

	h6.desc {
		margin-top:1.3rem;
	}

	.wrapper {
		height:100%;
	}

	@media only screen and (min-width: 1001px) {
	}

	@media only screen and (max-width: 1000px) {
		.container {
			max-width: 37rem;
			left:0;
			right:0;
			margin: 0 auto;

			h6 {
				br {
					display:none;
				}
			}

			form {
				box-shadow:none;
				width: 100%;

				>span {
					display: block;
					width: 100%;
					float: left;
					box-shadow: 0 1px 3px 0 rgba(150, 169, 179, 0.16);
				}

				.dropdown {
					width:100%;

					&.gender {
						border-radius: 5px 5px 0 0;
						z-index:2;
					}

					&.city {
						border-left:solid 1px $dropdown-seperator;
						border-top:none;
						border-radius: 0 0 5px 5px;
					}
				}

				button {
					width:100%;
					border-radius:5px;
					margin-top:1.5rem;
					box-shadow: 0 4px 6px 0 rgba(0, 255, 200, 0.2);
				}
			}
		}
	}

	@media only screen and (max-width: 600px) {
		max-height:35rem;
		min-height: 31rem;
	}
}

section.features {
	&.a {
		.feature {
			width:calc(50% - 1rem);
			float:left;

			&:nth-child(2n - 1) {
				margin-right:1rem;
			}

			&:nth-child(2n) {
				margin-left:1rem;
			}

			span {
				width:5.5rem;
				height:5.5rem;
				display:block;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}

			h6 {
				font-family:medium;
				font-size:22px;
				line-height:28px;
				color:#070c4e;
				margin-top:1.5rem;
			}

			p {
				margin-top: 0.7rem;
				font-size:16px;
				line-height:24px;
				color:#65747c;
			}

			.affordable {
				background-image:url(../images/features/affordable.png);
			}

			.fair {
				background-image:url(../images/features/fair.png);
			}
		}
	}

	&.b {
		margin-top: 6rem;
		background:#e4faff;
		
		.wrapper {
			margin: 10rem auto;
			
			>div {
				width:50%;

				&.features {
					.feature {
						width:calc(100% - 10rem);
						height: 80px;
						background:#FFF;
						margin-bottom:1rem;
						border-radius: 8px;
						box-shadow: 0 4px 8px 0 rgba(108, 191, 210, 0.3);
						position:relative;
	
						span {
							@include vertical-center();
							left:16px;
							width:4rem;
							height:4rem;
							background-size: 100%;
							background-position: center;
							background-repeat: no-repeat;
						}
	
						label {
							@include vertical-center();
							left:7rem;
							display: block;
	
							h6 {
								color:#1b272f;
								font-size:16px;
								line-height: 24px;
								font-family:medium;
							}
	
							p {
								color:#96a9b3;
								font-size:14px;
								line-height:19px;
							}
						}
	
						&:last-child {
							margin-bottom:0;
						}
	
						&.plans {
							span {
								background-image:url(../images/features/plans.png);
							}
						}
	
						&.quick {
							span {
								background-image:url(../images/features/quick.png);
							}
						}
	
						&.compare {
							span {
								background-image:url(../images/features/compare.png);
							}
						}
	
						&.end {
							span {
								background-image:url(../images/features/end.png);
							}
						}
					}
				}

				&.description {
					height:100%;
					position:absolute;
					right:0;
					top:0;

					.container {
						@include vertical-center();
					}

					h3 {
						font-size: 2.3rem;
						line-height: 2.9rem;
						color:#070c4e;
					}

					p {
						color: #65747c;
						font-size:16px;
						line-height:24px;
						margin: 1rem 0;
						margin-bottom: 0.5rem;
					}

					button {
						margin: 1rem 0;
						margin-bottom: 1.5rem;
						height:2.9rem;
						line-height:2.9rem;
						border-radius: 8px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		&.a {
			.feature {
				width:100% !important;
				margin:0 !important;
				padding-bottom: 2.5rem;

				&:last-child {
					padding:0;
				}
			}
		}

		&.b {
			.description {
				position: relative !important;
				width:100% !important;
				margin-bottom: 2rem;

				.container {
					position: relative !important;
					transform: none !important;
					top:0 !important;

					h3, p {
						br {
							display: none;
						}
					}
				}
			}

			.wrapper {
				margin: 6rem auto;
			}

			.features {
				width:100% !important;

				.feature {
					width:100% !important;
				}
			}
		}
	}
}

section.copy {
	background-color: #f2fdff;

	.wrapper {
		margin: 6rem auto;
		display: table;
	}

	.point {
		margin-bottom:3rem;
		width:100%;
		float:left;

		h3 {
			width:calc(50% - 10rem);
			float:left;
			font-size: 2.3rem;
			line-height: 2.75rem;
			color:#070c4e;
			font-family:medium;
		}

		p {
			color:#65747c;
			width:50%;
			float:left;
			font-size:14px;
			line-height:22px;
		}
	}

	.features {
		padding-left:calc(50% - 10rem);
		box-sizing: border-box;
		float:left;

		span {
			display:block;
			float:left;
			width:50%;
			color:#070c4e;
			font-size:14px;
			line-height: 32px;
			text-indent: 2.5rem;
			position:relative;

			&::before {
				content: '✓';
				color:#FFF;
				width:20px;
				height:20px;
				border-radius:50%;
				background: #1de3b9;
				position:absolute;
				@include vertical-center();
				left:0;
				text-indent: 0;
				text-align: center;
				line-height: 20px;
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		.point {
			h3, p {
				width:100%;

				br {
					display:none;
				}
			}

			p {
				margin-top:7px;
			}
		}

		.features {
			width:100%;
			padding:0;

			span {
				width:100%;
			}
		}
	}
}

section.advantage {
	background: #fcffff;

	h3 {
		color: #070c4e;
		font-family:medium;
		font-size: 2.3rem;
		line-height: 2.75rem;
		text-align:center;
		margin-top:6rem;
	}

	.wrapper > p {
		font-size:16px;
		line-height:24px;
		color:#65747c;
		text-align:center;
		width:90%;
		margin:0 auto;
		margin-top:0.7rem;

		&.mobile {
			display:none;
		}
	}

	.features {
		width:100%;
		float:left;
		margin-top: 4.5rem;
		margin-bottom: 3.5rem;

		.feature {
			width:50%;
			float:left;
			position:relative;
			margin-bottom: 3.5rem;
			
			span {
				display:block;
				width:5.75rem;
				height:5.75rem;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}

			label {
				@include vertical-center();
				left:7rem;
				display: block;
				width:calc(100% - 7rem);
				height:100%;

				h6 {
					color:#070c4e;					;
					font-size: 1.6rem;
					line-height: 1.7rem;
					font-family:medium;
					position:absolute;
					left:0;
					top:0;
				}

				p {
					color:#96a9b3;
					font-size:16px;
					line-height:24px;
					position:absolute;
					left:0;
					bottom: -0.3rem;
				}
			}

			&.unbiased {
				span {
					background-image:url(../images/features/unbiased.png);
				}
			}

			&.support {
				span {
					background-image:url(../images/features/support.png);
				}
			}

			&.paperless {
				span {
					background-image:url(../images/features/paperless.png);
				}
			}

			&.easy {
				span {
					background-image:url(../images/features/easy.png);
				}
			}
		}
	}

	&.b {
		background:#FFF;

		.features {
			width: 85%;
			margin: 4.5rem auto;
			display: table;
			float:none;

			.feature {
				span {
					display:block;
					margin:0 auto;
					width:6.2rem;
					height:6.2rem;
					margin-bottom:2rem;
				}

				label {
					position:relative;
					top:0;
					transform:none;
					width:75%;
					left:0;
					right:0;
					margin:0 auto;

					h6 {
						position:relative;
						text-align:center;	
					}

					p {
						position:relative;
						text-align:center;
					}
				}

				&.sales {
					span {
						background-image:url(../images/features/sales.png);
					}
				}
	
				&.claims {
					span {
						background-image:url(../images/features/claims.png);
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		.wrapper > p {
			width:100%;
			text-align:left;
			font-size: 14px;
    		line-height: 22px;

			&.desktop {
				display:none;
			}

			&.mobile {
				display:block;
			}
		}

		h3 {
			text-align:left;
		}

		&:not(.b) {
			.features {
				.feature {
					width:100%;
	
					span {
						float:left;
					}
	
					label {
						position:relative;
						top:0;
						transform:none; 
						left:0;
						float:right;
	
						h6 {
							position:relative;
							margin-top: 5px;
						}
	
						> p {
							line-height:22px !important;
							position:relative;
	
	
							br {
								display:none;
							}
						}
					}
				}
			}
		}

		&.b {
			h3, p {
				text-align:center;
			}

			.wrapper > p {
				max-width: 53rem;
			}

			.features {
				width:100%;

				.feature {
					width: 100%;
					max-width: 40rem;
					margin: 0 auto;
					float: none;
					margin-bottom: 3.5rem;
				}
			}
		}
	}
}

section.reviews {
	background: #f9fbfc;

	h3 {
		color: #070c4e;
		font-family:medium;
		font-size:32px;
		line-height: 40px;
		text-align:center;
		margin-top:6rem;
	}

	.reviews {
		width:100%;
		height:27.6rem;
		margin-top:3.5rem;
		margin-bottom: 8.5rem;

		.flickity-viewport {
			height:100% !important;
		}

		.flickity-page-dots {
			bottom: -3.5rem;
			.dot {
				background-color: #d9e6ec;
				opacity:1;

				&.is-selected {
					background: #5267ff;
				}
			}
		}

		.flickity-prev-next-button {
			.flickity-button-icon {
				fill: #dae6ec;
			}

			&.next {
				right: -5rem;
    			background: transparent;
			}

			&.previous {
				left: -5rem;
    			background: transparent;
			}
		}

		.review {
			display:block;
			cursor:pointer;
			width:34.3rem;
			height:100%;
			border-radius: 12px;
			margin-right: 20px;
			background:#FFF;
			box-shadow: 0 8px 8px 0 rgba(197, 216, 226, 0.2);

			span {
				display:block;
				width:5rem;
				height:5rem;
				background: #FFF;
				border-radius:50%;
				margin:2.5rem auto;
				background-position: center top;
				background-repeat: no-repeat;
				background-size: 6rem;
			}

			p {
				cursor:pointer;
				text-align:center;
				font-size:15px;
				line-height: 24px;
				color:#4b5960 !important;
				text-decoration:none !important;
				width:85%;
				margin: 0 auto;
			}

			label {
				cursor:pointer;
				font-size:15px;
				color:#262f96 !important;
				text-decoration:none !important;
				text-align:center;
				position:absolute;
				left:0;
				right:0;
				margin: 0 auto;
				bottom: 2.5rem;
			}

			&:nth-child(1) {
				span {
					background-image:url(../images/reviews/1.jpg);
					background-size: 280%;
				}
			}

			&:nth-child(2) {
				span {
					background-image:url(../images/reviews/2.jpg);
					background-size: 150%;
				}
			}

			&:nth-child(3) {
				span {
					background-image:url(../images/reviews/3.jpg);
					background-size: 280%;
				}
			}

			&:nth-child(4) {
				span {
					background-image:url(../images/reviews/4.jpg);
					background-size: 112%;
				}
			}

			&:nth-child(5) {
				span {
					background-image:url(../images/reviews/5.jpg);
					background-size: 112%;
				}
			}

			&:nth-child(6) {
				span {
					background-image:url(../images/reviews/6.jpg);
				}
			}

			&:nth-child(7) {
				span {
					background-image:url(../images/reviews/7.jpg);
				}
			}
		}
	}

	h4 {
		color: #070c4e;
		font-size: 20px;
		line-height: 24px;
		font-weight: medium;
		text-align:center;
	}

	h6 {
		font-size: 16px;
		color:#65747c;
		line-height: 24px;
		text-align: center;
		margin-top:3px;
	}

	.insurers {
		display: table;
		width: 100%;
		margin-top: 4.5rem;
		margin-bottom: 3.5rem;

		.logo {
			width:calc(25%);
			height: 3em;
			margin-bottom: 4rem;
			float:left;
			@include background-image();

			.overlay {
				@include background-image();
				width:auto;
				height:100%;
				opacity:1;
				transition: all 0.3s;
			}
		}
	}

	@media only screen and (max-width: 1200px) {
		.reviews {
			.flickity-button {
				display:none;
			}
		}
	}

	@media only screen and (max-width: 1000px) {

		.insurers {
			.logo {
				width:33.3%;

				&:last-child {
					display:none;
				}
			}
		}
	}

	@media only screen and (max-width: 500px) {
		.reviews {

			.review {
				width:100%;

				p {
					font-size:13px;
					line-height:24px;
				}
			}
		}

		.insurers {
			.logo {
				width:50%;
				height:2.5rem;
				margin-bottom: 3.5rem;

				&:last-child {
					display:block;
				}
			}
		}
	}
}

section.cta {
	background:#00ffc8;

	h1 {
		font-size:40px !important;
		text-align:center !important;
		color:#262f96 !important;

		br {
			display:none;
		}
	}

	.container {
		margin: 11rem auto;
		margin-bottom: 10rem;

		form {
			display: table;
			margin: 0 auto;
			margin-top: 2rem;
			border-radius:6px;
			box-shadow: 0 12px 20px 0 rgba(32, 127, 107, 0.21);
	
			.dropdown {
				background-color: #FFF;
				&.gender {
					width: 11.5rem;
					border-radius: 6px 0 0 6px;
	
					&::after {
						content:'Please select gender'
					}
				}
	
				&.city {
					border-left:none;
					width: 19.5rem;
	
					&::after {
						content:'Please select city'
					}
				}
			}
	
			button {
				font-size:16px;
				padding: 0 2rem;
				line-height: 4rem;
				border-radius: 0 6px 6px 0;
				outline:none;
				background:#5267ff;
				border-color:#5267ff;
				color:#FFF;
				font-family: regular !important;
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		.container {
			max-width: 30rem;
			box-sizing: border-box;
			padding: 0 10px;
			margin: 6rem auto;
			margin-bottom: 7rem;

			h1 {
				font-family:regular;

				br {
					display:block;
				}
			}

			form {
				box-shadow:none;
				width: 100%;

				>span {
					display: block;
					width: 100%;
					float: left;
					box-shadow: 0 12px 20px 0 rgba(32, 127, 107, 0.21);
				}

				.dropdown {
					width:100% !important;

					&.gender {
						border-radius: 5px 5px 0 0;
						z-index:2;
					}

					&.city {
						border-left:solid 1px $dropdown-seperator;
						border-top:none;
						border-radius: 0 0 5px 5px;
					}
				}

				button {
					width:100%;
					border-radius:5px;
					margin-top:1.5rem;
					box-shadow: 0 12px 20px 0 rgba(32, 127, 107, 0.35);
				}
			}
		}
	}
}

.landing {
	section.banner {
		.container {
			@include absolute-center();
			width:72rem;
		}
		
		.content {
			float:left;

			h1.head {
				font-size: 3.45rem;
			}

			h6 {
				font-size: 18px;
				line-height: 28px;
			}
		}

		form {
			float:left;
			width: 27.2rem;
			@include vertical-center();
			right:0;
			box-shadow: none;

			button {
				width:100%;
				border-radius: 6px;
				font-size:20px;
				box-shadow: 0 4px 6px 0 rgba(0, 255, 200, 0.2);
				margin-top:1.5rem;
			}

			.dropdown {
				border: solid 1px #d9e6ec;
				border-radius: 6px;
				background:#f9fbfc;
				margin-right: 0;
				line-height: 3.9rem;

				label {
					font-size: 15px;
					line-height: 3.9rem;

					&::after {
						display:none;
					}
				}

				&.city {
					width: 100%;
					z-index:3;

					label {
						white-space: nowrap;
					}
				}

				&.gender {
					width:10.5rem;
					margin-top:1.2rem;
				}

				&::before {
					display:none;
				}

				&::after {
					background:#FFF;
					color:#ff5a5a;
					font-size:11px;
					text-align:left;
					bottom:auto;
					top: 4rem;
					height: 13px;
					line-height: initial;
					text-indent: 0;
					left: 4px;
					transition:none;
					width:100%;
				}
			}

			.input {
				float:left;
				width:100%;
				margin-top:1.2rem;
				position:relative;

				input {
					width:100%;
					box-sizing: border-box;
					outline:none;
					padding:0;
					border: solid 1px #d9e6ec;
					border-radius:6px;
					background: #f9fbfc;
					color: #5267ff;
					text-indent: 1.3rem;
					font-size:15.5px;
					line-height: 3.9rem;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;

					&::placeholder {
						color:#96a9b3;
					}
				}

				span {
					position:absolute;
					font-size:11px;
					left: 4px;
					white-space: nowrap;
					top: 4.1rem;	
					color:#ff5a5a;
					opacity:0;
					pointer-events: none;		
				}

				&.error {
					span {
						opacity:1;
					}
				}
			}

			.note {
				color:#96a9b3;
				font-size:11px;
				text-align: center;
				display:block;
				margin-top: 2rem;
				box-shadow:none;

				a {
					color:#1b272f;
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			max-height: inherit;
    		height: inherit;

			.container {
				position:relative;
				top:0;
				transform:none;
				width:100%;
				display:table;
				margin:0 auto;
			}

			.content {
				width:100%;
			}

			h1 {
				font-size: 36px;
				line-height: 42px;
				margin-top: 3.5rem;
			}

			h6.desc {
				font-size:14px;
				line-height:20px;
			}

			form {
				width:100%;
				position:relative;
				top:0;
				transform:none;

				.dropdown {
					border: solid 1px #d9e6ec !important;
					border-radius: 6px !important;
				}
			}
		}
	}

	section.modal {
		position:fixed;
		width:100%;
		height:100%;
		left:0;
		z-index: 1;
		background:transparent;
		top:10px;
		opacity:0;
		pointer-events:none;
		transition: all 300ms ease;

		&::after {
			content:'';
			position:fixed;
			width:100%;
			height:100%;
			opacity: 0.75;
			background-color: #d9e6ec;
			top:0;
			left:0;
		}

		.modal {
			width:40rem;
			border-radius:6px;
			background:#FFF;
			box-shadow: 0 12px 24px 4px rgba(66, 103, 120, 0.1);
			z-index:2;
			position:absolute;
			left:0;
			right:0;
			margin:0 auto;
			top: 9rem;
			padding:3rem;
			box-sizing:border-box;

			.close {
				color: #1b272f;
				position: absolute;
				right: 0.7rem;
				top: 0.3rem;
				font-size: 2.2rem;
				cursor: pointer;
			}

			h3 {
				font-size: 1.7rem;
				line-height:28px;
				color:#1b272f;
			}

			form {
				display: table;
				margin-top: 2rem;
				border-radius:6px;
				box-shadow: 0 6px 8px 0 rgba(150, 169, 179, 0.05);
				width:100%;
		
				.dropdown {
					width: 100%;
					border-radius:6px;
					margin-bottom:1.3rem;
					
					&.gender {
						z-index:2;
						&::after {
							content:'Please select gender'
						}
					}
		
					&.city {
						margin-bottom:1.8rem;
						
						&::after {
							content:'Please select city'
						}

						label {
							max-height: 3.9rem;
    						overflow: hidden;
						}
					}

					&::before {
						display:none;
					}
	
					&::after {
						background:#FFF;
						color:#ff5a5a;
						font-size:11px;
						text-align:left;
						bottom:auto;
						top: 4rem;
						height: 13px;
						line-height: initial;
						text-indent: 0;
						left: 4px;
						transition:none;
						width:100%;
					}

					label {
						font-size: 15px;
						line-height: 3.9rem;
	
						&::after {
							display:none;
						}
					}
				}
		
				button {
					font-size: 1.4rem;
					padding: 0 2rem;
					line-height: 4rem;
					border-radius: 6px;
					width:100%;
					outline:none;
				}
			}
		}

		@media only screen and (max-width: 500px) {
			.modal {
				width:calc(100% - 40px);
			}
		}

		@media only screen and (max-width: 430px) {
			.modal {
				padding: 2rem 1.5rem;
				width:calc(100% - 30px);
			}
		}

		&.active {
			opacity:1;
			pointer-events: all;
			top:0;
		}
	}

	section.features {
		&.b {

			&.c {
				margin-top: 4rem;

				.wrapper {
					margin: 6rem auto;
				}

				h3 {
					font-size:2.3rem;
					line-height: 2.9rem;
					text-align:center;
					font-family:medium;
					color: #070c4e;
					margin-bottom: 4rem;
				}

				.features {
					width:100%;
					max-width: 60rem;
					margin:0 auto;

					.feature {
						width:100% !important;
						height: 100px !important;

						span {
							width: 4.6rem !important;
							height: 4.6rem !important;
						}

						p {
							width: calc(100% - 10px);
							line-height: 20px !important;
						}

						&.family {
							span {
								background-image:url(../images/landing/family.png);
							}
						}

						&.maternity {
							span {
								background-image:url(../images/landing/maternity.png);
							}
						}

						&.senior {
							span {
								background-image:url(../images/landing/senior.png);
							}
						}

						&.critical {
							span {
								background-image:url(../images/landing/critical.png);
							}
						}

						&.global {
							span {
								background-image:url(../images/landing/global.png);
							}
						}
					}
				}

				span.note {
					display: block;
					color:#65747c;
					font-size:16px;
					line-height: 24px;
					text-align:center;
					max-width:60rem;
					margin:0 auto;
					margin-top:4rem;
					margin-bottom:3rem;
				}

				button {
					margin: 0 auto;
					height:2.9rem;
					line-height:2.9rem;
					border-radius: 8px;
					display: block;
				}
			}

			&.d {
				margin-top:0;
				background:#FFF;

				.wrapper {
					display:table;
					margin: 6rem auto;
				}

				.description, .container {
					position: relative !important;
					top:0 !important;
					left:0 !important;
					right:auto !important;
					transform:none !important;
					float:left;

					.container {
						h3 {
							font-size:2.3rem;
							line-height: 2.9rem;
							font-family:medium;
						}

						p {
							font-size:14px;
							line-height: 22px;
							margin-top:1.4rem;
							width: 80%;
						}
					}
				}

				.features {
					float:right;

					.feature {
						box-shadow:none;
						height:auto;
						margin-bottom: 3.2rem;
						float:left;
						width:100%;

						span {
							width: 5.75rem;
							height: 5.75rem;
							position: relative !important;
							top:0 !important;
							left:0 !important;
							right:auto !important;
							transform:none !important;
							float:left;
						}

						label {
							position:relative;
							transform:none;
							top:0;
							left:0;
							float:right;
							width: calc(100% - 7.5rem);
							margin-top: 0.5rem;

							h6 {
								font-size:18px;
							}
	
							p {
								line-height:20px;
								margin-top: 3px;
								color:#65747c;
							}
						}

						&.rising {
							span {
								background-image:url(../images/landing/rising.png);
							}
						}

						&.secure {
							span {
								background-image:url(../images/landing/secure.png);
							}
						}

						&.first {
							span {
								background-image:url(../images/landing/first.png);
							}
						}

						&.sudden {
							span {
								background-image:url(../images/landing/sudden.png);
							}
						}

						&.tax {
							span {
								background-image:url(../images/landing/tax.png);
							}
						}
					}
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			.wrapper > h3 {
				text-align:left !important;

				br {
					display:none;
				}
			}

			&.b {
				.wrapper {
					margin: 4rem auto !important;
					display: table;
				}

				&.d {
					.wrapper > div.description {
						height:auto;
					}

					.description .container p {
						width:100%;
					}
				}

				&.c {
					.features {
						.feature {
							height:auto !important;
							float: left;

							span {
								position:relative !important;
								transform:none !important;
								top:0 !important;
								float:left;
								width:64px !important;
								height:64px !important;
								margin-top:15px;
							}
							
							label {
								position:relative !important;
								transform:none !important;
								top:0 !important;
								left:0;
								float:right;
								width: calc(100% - 95px);
								margin: 15px 0;
							}
						}
					}

					span.note {
						float: left;
						text-align:left;
						font-size:14px;
						line-height:22px;
						margin-top: 3rem;
					}

					button {
						float:left;
					}
				}
			}
		}		
	}

	section.advantage {
		background:#f9fbfc;

		&.landing {
			background:#f2fdff;

			h3 {
				font-size: 2.3rem;
				line-height: 2.9rem;
			}
	
			>p {
				font-size: 14px;
				line-height: 21px;
				margin-top:1.1rem;
			}
	
			.features {
				margin-bottom: 2.5rem;
	
				.feature {
					margin-bottom: 5rem;
	
					span {
						float:left;
					}
	
					label {
						position:relative;
						transform:none;
						top:0;
						left: 1.5rem;
						float:left;
						width: calc(100% - 12rem);
	
						h6 {
							position:relative;
							font-size: 18px;
							line-height: 21px;
						}
	
						p {
							position:relative;
							font-size: 14px;
							line-height: 20px;
							color:#65747c;
						}
					}
					
					&.cashless {
						span {
							background-image:url(../images/landing/cashless.png);
						}
					}
	
					&.claim {
						span {
							background-image:url(../images/landing/claim.png);
						}
					}
	
					&.ambulance {
						span {
							background-image:url(../images/landing/ambulance.png);
						}
					}
	
					&.medical {
						span {
							background-image:url(../images/landing/medical.png);
						}
					}
	
					&.hospitalization {
						span {
							background-image:url(../images/landing/hospitalization.png);
						}
					}
	
					&.reimbursement {
						span {
							background-image:url(../images/landing/reimbursement.png);
						}
					}
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			&.landing {
				h3 {
					margin-top:4rem;
				}

				.features {
					margin-bottom:0;

					label {
						width:calc(100% - 8rem) !important;
					}
				}
			}
		}
	}

	section.content {
		background:#f9fbfc;

		.wrapper {
			margin: 5rem auto;
			display:table;
			margin-bottom:3rem;
		}

		h3 {
			font-size: 2.3rem;
			line-height: 2.9rem;
			text-align: center;
			margin-bottom: 5.2rem;
			font-family:medium;
			color:#070c4e;
		}

		.wrapper > h6 {
			color:#65747c;
			font-size:14px;
			line-height: 22px;
			text-align:center;
			margin:0 auto;
			width:85%;
			margin-top:1.1rem;
		}

		.row {
			width:100%;
			float:left;
			margin-bottom: 3rem;

			.cell {
				width:calc(50% - 1.5rem);
				float:left;

				h6 {
					font-size:14px;
					line-height:20px;
					color:#262f96;
					font-family:medium;
				}

				p {
					color:#65747c;
					font-size: 14px;
					line-height:20px;
					margin-top:5px;
				}

				&:nth-child(2n) {
					float:right;
				}
			}
		}

		&.b {
			background: #FFF;

			h3 {
				margin-bottom:0;
			}

			.wrapper > h6 {
				margin-bottom:5.2rem;
			}
		}

		@media only screen and (max-width: 1000px) {

			.wrapper {
				margin-bottom: 2rem;
			}

			h3 {
				text-align:left;
				margin-bottom: 3rem;
			}

			.wrapper > h6 {
				text-align:left !important;
				width: 100% !important;
				margin-bottom: 3rem !important;
			}
			
			.row {
				.cell {
					width:100% !important;

					&:nth-child(2n-1) {
						margin-bottom: 3rem;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	section.cta {
		.container {
			margin: 6rem auto;
			margin-bottom: 5rem;
		}

		form {
			width: 27.2rem;
			box-shadow: none;

			button {
				width:100%;
				border-radius: 6px;
				font-size:20px;
				box-shadow: 0 4px 6px 0 rgba(0, 255, 200, 0.2);
				margin-top:1.5rem;
				font-family:regular !important;
			}

			.dropdown {
				border: solid 1px #FFF;
				border-radius: 6px !important;
				background:#FFF;
				margin-right: 0;
				line-height: 3.9rem;

				label {
					font-size: 15px;
					line-height: 3.9rem;

					&::after {
						display:none;
					}
				}

				&.city {
					width: 100%;
					z-index:2;

					label {
						white-space: nowrap;
					}
				}

				&.gender {
					width:10.5rem !important;
					margin-top:1.2rem;
				}

				&::before {
					display:none;
				}

				&::after {
					background:#FFF;
					color:#ff5a5a;
					font-size:11px;
					text-align:left;
					bottom:auto;
					top: 4rem;
					height: 13px;
					line-height: initial;
					text-indent: 0;
					left: 4px;
					transition:none;
					width:100%;
				}
			}

			.input {
				float:left;
				width:100%;
				margin-top:1.2rem;
				position:relative;

				input {
					width:100%;
					box-sizing: border-box;
					outline:none;
					padding:0;
					border: solid 1px #FFF;
					border-radius:6px;
					background: #FFF;
					color: #5267ff;
					text-indent: 1.3rem;
					font-size:15.5px;
					line-height: 3.9rem;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;

					&::placeholder {
						color:#96a9b3;
					}
				}

				span {
					position:absolute;
					font-size:11px;
					left: 4px;
					white-space: nowrap;
					top: 4.1rem;	
					color:#ff5a5a;
					opacity:0;
					pointer-events: none;		
				}

				&.error {
					span {
						opacity:1;
					}
				}
			}

			.note {
				color:#070c4e;
				font-size:11px;
				text-align: center;
				display:block;
				margin-top: 2rem;

				a {
					color:#5267ff;
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			max-height: 47rem;

			.content {
				width:100%;
			}

			h1 {
				font-size: 36px;
				line-height: 42px;
				margin-top: 2.5rem;
			}

			h6.desc {
				font-size:14px;
				line-height:20px;
			}

			form {
				width:100%;
				position:relative;
				top:0;
				transform:none;

				.dropdown {
					border: solid 1px #FFF !important;
					border-radius: 6px !important;
				}
			}
		}
	}
}