<div class="dropdown {{class}} {{#if search}}searchable{{/if}}">
	<label class="placeholder">{{placeholder}}</label>
	<div class="pointer"></div>
	{{#if items}}
		<ul class="list">
			{{#each items}}
				<li value={{this}}><span>{{this}}</span></li>
			{{/each}}
		</ul>
	{{/if}}
	{{#if cities}}
		<ul class="list">
			{{#each cities}}
				{{{parseCities}}}
			{{/each}}
		</ul>
	{{/if}}
	{{#if search}}
		<input placeholder="{{search}}">
	{{/if}}
</div>