<footer class="full-width">
    <div class="wrapper">
        <div class="links">
            <div class="col">
                <label>Insurance</label>
                <a href="">Get Insured</a>
                <a href="">Business Solutions</a>
                <a href="">Claims</a>
                <a href="">Login</a>
            </div>
            <div class="col">
                <label>Company</label>
                <a href="">About us</a>
                <a href="">Blog</a>
                <a href="">Careers</a>
            </div>
        </div>
        <div class="links">
            <div class="col">
                <label>Get in Touch</label>
                <a href="mailto:info@zipcover.in" target="_blank">
                    info@zipcover.in
                </a>
                <a  class="low" href="tel:+917840040042" target="_blank">
                    +91 78400-40042
                </a>
                <a class="high" href="">
                    Suite 501, Success Tower,<br>
                    Sector 65, Golf Course<br>
                    Extension Road, Gurgaon
                </a>
            </div>
            <div class="col">
                <label>Get in Touch</label>
                <a href="https://twitter.com/ZipCover_In" target="_blank" class="social tw"></a>
                <a href="https://www.facebook.com/ZipCover.Insurance/" target="_blank" class="social fb"></a>
                <a href="https://www.linkedin.com/company/13224248/" target="_blank" class="social in"></a>
            </div>
        </div>
        <div class="irda">
            IRDA Direct Broker License No: IRDA/DB641/16, Valid Till: 26/04/2019, Principal Officer: Suhail P Bajaj, CIN: U45200DL2007PTC160312<br>
            Disclaimer: Insurance is the subject matter of solicitation. 
        </div>
        <div class="copy">
            &copy; 2018. Zipcover is powered by Instapolicy Insurance Broking Pvt Ltd. 
        </div>
    </div>
</footer>