<footer class="full-width footerBlue">
    <div class="wrapper">
        <a href="">&copy; Zipcover 2018</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms & Conditions</a>
        <a href="">Insurance Licenses</a>
        <a href="">Statement of Non-discrimination</a>
    </div>
</footer>
