<nav>
	<div class="wrapper">
		<a class="logo" href="/"></a>
		{{!-- <ul class="links left">
			<li class="active">Health</li>
		</ul> --}}
		<ul class="links right">
			<li>Blog</li>
			<li>Contact Us</li>
			<li class="button">Login</li>
		</ul>
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="nav-mobile">
		<span class="close">&times;</span>
		<div class="container">
			<ul class="links-mobile">
				<li>Health Insurance</li>
				<li>Blog</li>
				<li>Contact Us</li>
			</ul>
			<button class="action">Login</button>
			<div class="more-links">
				<a href="mailto:info@zipcover.in" target="_blank">
					info@zipcover.in
				</a>
				<a href="tel:+917840040042" target="_blank">
					+91 78400-40042
				</a>
			</div>
			<div class="social-links">
				<a href="https://twitter.com/ZipCover_In" target="_blank" class="social tw"></a>
				<a href="https://www.facebook.com/ZipCover.Insurance/" target="_blank" class="social fb"></a>
				<a href="https://www.linkedin.com/company/13224248/" target="_blank" class="social in"></a>
			</div>
		</div>
	</div>
</nav>